Repository suzuka-kosen-festa/2022-HP: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run fmt

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx}': npm run lint
'*.{json,yml,yaml,toml}': npm run fmt

fix: Fix sentence in to page
  src/components/templates/top/__snapshots__/top.test.tsx.snap
  src/components/templates/top/index.tsx
Due: npm run lint

chore: Format code
  src/components/templates/top/index.tsx
Due: npm run lint

fix: Fix sentence in to page (#309)
  src/components/templates/top/__snapshots__/top.test.tsx.snap
  src/components/templates/top/index.tsx
Due: npm run lint

fix!: I commited chromatic token
  package.json
Due: npm run fmt

chore: Fix type in heading component
  src/components/atoms/heading/types/model.ts
Due: npm run lint

chore: Fix caution list props and key
  src/components/molecules/caution/index.tsx
  src/components/molecules/caution/types/model.ts
Due: npm run lint

feat: Create title component
  public/statics/Ink3_blue.webp
  public/statics/Ink3_green.webp
  public/statics/Ink3_purple.webp
  public/statics/Ink3_red.webp
  public/statics/Ink3_yellow.webp
  src/components/molecules/title/__snapshots__/title.test.tsx.snap
  src/components/molecules/title/index.tsx
  src/components/molecules/title/title.stories.tsx
  src/components/molecules/title/title.test.tsx
  src/components/molecules/title/types/model.ts
  tailwind.config.js
Due: npm run lint

chore: Format code
  src/components/molecules/title/title.test.tsx
  tailwind.config.js
Due: npm run lint

feat: Create title component (#307)
  package.json
  public/statics/Ink3_blue.webp
  public/statics/Ink3_green.webp
  public/statics/Ink3_purple.webp
  public/statics/Ink3_red.webp
  public/statics/Ink3_yellow.webp
  src/components/molecules/caution/index.tsx
  src/components/molecules/caution/types/model.ts
  src/components/molecules/title/__snapshots__/title.test.tsx.snap
  src/components/molecules/title/index.tsx
  src/components/molecules/title/title.stories.tsx
  src/components/molecules/title/title.test.tsx
  src/components/molecules/title/types/model.ts
  tailwind.config.js
Due: npm run lint, npm run fmt

[figma] whiteのhoverカラーを生成
  data/tokens.json
Due: npm run fmt

chore: Format code
  data/tokens.json
Due: npm run fmt

feat: design tokenから_variable.jsonの生成
  src/styles/_variables.json
Due: npm run fmt

[figma] whiteのhoverカラーを生成 (#318)
  data/tokens.json
  src/styles/_variables.json
Due: npm run fmt

[figma] create border-primary
  data/tokens.json
Due: npm run fmt

chore: Format code
  data/tokens.json
  src/styles/_variables.json
Due: npm run fmt

[figma] border-primaryの作成 (#319)
  data/tokens.json
  src/styles/_variables.json
Due: npm run fmt

chore: Refactor button hooks
  src/components/atoms/button/index.tsx
Due: npm run lint

feat: Create switching component
  src/components/atoms/switching/__snapshots__/switching.test.tsx.snap
  src/components/atoms/switching/index.tsx
  src/components/atoms/switching/switching.stories.tsx
  src/components/atoms/switching/switching.test.tsx
  src/components/atoms/switching/types/model.ts
Due: npm run lint

chore: Update tailwind config
  tailwind.config.js
Due: npm run lint

chore: Format code
  src/components/atoms/button/index.tsx
  src/components/atoms/switching/index.tsx
  src/components/atoms/switching/switching.stories.tsx
  src/components/atoms/switching/types/model.ts
  tailwind.config.js
Due: npm run lint

chore: Update hover color
  src/components/atoms/switching/__snapshots__/switching.test.tsx.snap
  src/components/atoms/switching/index.tsx
Due: npm run lint

chore: Format code
  src/styles/_variables.json
Due: npm run fmt

feat: Create switching component (#316)
  src/components/atoms/button/index.tsx
  src/components/atoms/switching/__snapshots__/switching.test.tsx.snap
  src/components/atoms/switching/index.tsx
  src/components/atoms/switching/switching.stories.tsx
  src/components/atoms/switching/switching.test.tsx
  src/components/atoms/switching/types/model.ts
  src/styles/_variables.json
  tailwind.config.js
Due: npm run lint, npm run fmt

feat: Create bazaar card component
  src/components/molecules/bazaar-card/__snapshots__/bazaar-card.test.tsx.snap
  src/components/molecules/bazaar-card/bazaar-card.stories.tsx
  src/components/molecules/bazaar-card/bazaar-card.test.tsx
  src/components/molecules/bazaar-card/index.tsx
  src/components/molecules/bazaar-card/types/model.ts
  tailwind.config.js
Due: npm run lint

chore: Format code
  src/components/molecules/bazaar-card/bazaar-card.stories.tsx
  src/components/molecules/bazaar-card/index.tsx
  src/components/molecules/bazaar-card/types/model.ts
  tailwind.config.js
Due: npm run lint

chore: Update snapshot
  src/components/molecules/bazaar-card/__snapshots__/bazaar-card.test.tsx.snap
Due: none

feat: Create bazaar card component (#320)
  src/components/molecules/bazaar-card/__snapshots__/bazaar-card.test.tsx.snap
  src/components/molecules/bazaar-card/bazaar-card.stories.tsx
  src/components/molecules/bazaar-card/bazaar-card.test.tsx
  src/components/molecules/bazaar-card/index.tsx
  src/components/molecules/bazaar-card/types/model.ts
  tailwind.config.js
Due: npm run lint

fix: Fix parking map
  public/statics/parking.webp
  src/components/organisms/access-section/__snapshots__/access-section.test.tsx.snap
  src/components/organisms/access-section/index.tsx
  src/components/templates/top/__snapshots__/top.test.tsx.snap
Due: npm run lint

fix: Fix parking map (#323)
  public/statics/parking.webp
  src/components/organisms/access-section/__snapshots__/access-section.test.tsx.snap
  src/components/organisms/access-section/index.tsx
  src/components/templates/top/__snapshots__/top.test.tsx.snap
Due: npm run lint

feat: Create sponsor page
  src/components/templates/sponsor/__snapshots__/sponsor.test.tsx.snap
  src/components/templates/sponsor/index.tsx
  src/components/templates/sponsor/sponsor.stories.tsx
  src/components/templates/sponsor/sponsor.test.tsx
  src/components/templates/sponsor/types/model.ts
  src/pages/index.ts
  src/pages/sponsor.tsx
  src/routes.tsx
Due: npm run lint

chore: Format code
  src/components/templates/sponsor/index.tsx
  src/components/templates/sponsor/sponsor.stories.tsx
  src/components/templates/sponsor/sponsor.test.tsx
  src/components/templates/sponsor/types/model.ts
  src/pages/sponsor.tsx
  src/routes.tsx
Due: npm run lint

feat: Create sponsor page (#330)
  src/components/templates/sponsor/__snapshots__/sponsor.test.tsx.snap
  src/components/templates/sponsor/index.tsx
  src/components/templates/sponsor/sponsor.stories.tsx
  src/components/templates/sponsor/sponsor.test.tsx
  src/components/templates/sponsor/types/model.ts
  src/pages/index.ts
  src/pages/sponsor.tsx
  src/routes.tsx
  tailwind.config.js
Due: npm run lint

feat: Close ticket form and change sentence
  src/components/organisms/ticket-section/__snapshots__/ticket-section.test.tsx.snap
  src/components/organisms/ticket-section/index.tsx
  src/components/organisms/ticket-section/ticket-section.stories.tsx
  src/components/organisms/ticket-section/type/model.ts
  src/components/templates/top/__snapshots__/top.test.tsx.snap
  src/components/templates/top/index.tsx
Due: npm run lint

feat: Close ticket form and change sentence (#331)
  src/components/organisms/ticket-section/__snapshots__/ticket-section.test.tsx.snap
  src/components/organisms/ticket-section/index.tsx
  src/components/organisms/ticket-section/ticket-section.stories.tsx
  src/components/organisms/ticket-section/type/model.ts
  src/components/templates/top/__snapshots__/top.test.tsx.snap
  src/components/templates/top/index.tsx
Due: npm run lint

fix: Create custom hooks and fix scroll issue
  src/hooks/useScrollToTop/index.ts
  src/routes.tsx
Due: npm run lint

fix: Create custom hooks and fix scroll issue (#333)
  src/hooks/useScrollToTop/index.ts
  src/routes.tsx
Due: npm run lint
