Repository suzuka-kosen-festa/2022-HP: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run fmt

🩹 testにhref属性の指定を忘れていたので指定した
  src/components/atoms/button/__snapshots__/button.test.tsx.snap
  src/components/atoms/button/button.stories.tsx
Due: npm run lint

✨ anchor textコンポーネントを実装した
  src/components/atoms/anchor/index.tsx
Due: npm run lint

✨ Storybookを設定
  src/components/atoms/anchor/anchor.stories.tsx
Due: npm run lint

✅ testの設定
  src/components/atoms/anchor/__snapshots__/anchor.test.tsx.snap
  src/components/atoms/anchor/anchor.test.tsx
Due: npm run lint

[skip ci] auto-fixable format by github-actions
  src/components/atoms/anchor/anchor.stories.tsx
  src/components/atoms/anchor/anchor.test.tsx
  src/components/atoms/anchor/index.tsx
  src/components/atoms/button/button.stories.tsx
Due: npm run lint

♻️ ディレクトリ名が分かりづらかったため命名し直した
  src/components/atoms/anchor-text/__snapshots__/anchor.test.tsx.snap
  src/components/atoms/anchor-text/anchor.stories.tsx
  src/components/atoms/anchor-text/anchor.test.tsx
  src/components/atoms/anchor-text/index.tsx
Due: npm run lint

🚚 著作者がすべて @re-taro になっていたものを、 @suzuka-kosen-festa に変更
  LICENSE
  package.json
  yarn.lock
Due: npm run fmt

📸 snap shotの修正
  src/components/atoms/anchor-text/__snapshots__/anchor.test.tsx.snap
Due: none

🚚 ファイルの命名規則を守っていなかったため修正
  src/components/atoms/anchor-text/anchor-text.stories.tsx
  src/components/atoms/anchor-text/anchor-text.test.tsx
Due: npm run lint

📸 snapshotを更新
  src/components/atoms/anchor-text/__snapshots__/anchor-text.test.tsx.snap
Due: none

anchor textコンポーネントを実装した (#125)
  src/components/atoms/anchor-text/__snapshots__/anchor-text.test.tsx.snap
  src/components/atoms/anchor-text/anchor-text.stories.tsx
  src/components/atoms/anchor-text/anchor-text.test.tsx
  src/components/atoms/anchor-text/index.tsx
  src/components/atoms/button/__snapshots__/button.test.tsx.snap
  src/components/atoms/button/button.stories.tsx
Due: npm run lint

📸 snapshotを更新した
  src/components/atoms/anchor-text/__snapshots__/anchor-text.test.tsx.snap
Due: none

著作者がすべて @re-taro になっていたものを、 @suzuka-kosen-festa に変更 (#127)
  LICENSE
  package.json
  src/components/atoms/anchor-text/__snapshots__/anchor-text.test.tsx.snap
  yarn.lock
Due: npm run fmt

Update: リンクテキストに変更 #60
  src/components/organisms/footer/index.tsx
Due: npm run lint

Update: snapshotsの更新 #60
  src/components/organisms/footer/__snapshots__/footer.test.tsx.snap
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
Due: none

✅ testをキャッシュ無しで走らせるようにする
  .github/workflows/test.yml
Due: npm run fmt

🔥 keepファイルを削除
  src/components/organisms/.gitkeep
Due: none

✨ storiesを修正
  src/components/atoms/anchor-text/anchor-text.stories.tsx
  src/components/organisms/footer/footer.stories.tsx
Due: npm run lint

📸 snapshotを更新する
  src/components/organisms/footer/__snapshots__/footer.test.tsx.snap
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
Due: none

♻️ footerをリファクタリング
  src/components/organisms/footer/index.tsx
  src/models/index.ts
Due: npm run lint

[skip ci] auto-fixable format by github-actions
  src/components/organisms/footer/index.tsx
Due: npm run lint

🚑️ propertiesをもたせるのを忘れていました
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
  src/components/templates/layout/index.tsx
Due: npm run lint

🔍️ linkに対してつけるべきオプションをつけ忘れた
  src/components/organisms/footer/__snapshots__/footer.test.tsx.snap
  src/components/organisms/footer/index.tsx
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
Due: npm run lint

👷 CIを更新した
  .github/workflows/chromatic.yml
  .github/workflows/codeql.yml
  .github/workflows/lighthouse.yml
  .github/workflows/linter.yml
  .github/workflows/prettier.yml
  .github/workflows/test.yml
  .github/workflows/token.yml
Due: npm run fmt

👷 CIの引数を修正
  .github/workflows/chromatic.yml
  .github/workflows/codeql.yml
  .github/workflows/lighthouse.yml
  .github/workflows/linter.yml
  .github/workflows/prettier.yml
  .github/workflows/test.yml
  .github/workflows/token.yml
Due: npm run fmt

🚧 wip
  src/components/atoms/button/__snapshots__/button.test.tsx.snap
  src/components/atoms/button/button.stories.tsx
  src/components/atoms/button/button.test.tsx
  src/components/atoms/text/__snapshots__/text.test.tsx.snap
  src/components/atoms/text/text.stories.tsx
Due: npm run lint

📝 ドキュメントの削除
  docs/policy.md
  docs/rules.md
  docs/storybook.md
Due: none

⏪️ revert
  src/components/atoms/button/__snapshots__/button.test.tsx.snap
  src/components/atoms/button/button.stories.tsx
  src/components/atoms/button/button.test.tsx
  src/components/atoms/text/__snapshots__/text.test.tsx.snap
  src/components/atoms/text/text.stories.tsx
Due: npm run lint

🚑️ ubuntuだと発生するバグのようだ
  .github/workflows/test.yml
Due: npm run fmt

🐛 愚かな糸川は変える場所を間違えてた
  .github/workflows/test.yml
Due: npm run fmt

✅ testを修復した
  .github/workflows/lighthouse.yml
  src/components/atoms/button/__snapshots__/button.test.tsx.snap
  src/components/atoms/text/__snapshots__/text.test.tsx.snap
Due: npm run fmt

🍱 faviconやPWA対応用の画像の追加
  public/seo/android-chrome-192x192.png
  public/seo/android-chrome-512x512.png
  public/seo/apple-touch-icon.png
  public/seo/browserconfig.xml
  public/seo/favicon-16x16.png
  public/seo/favicon-32x32.png
  public/seo/favicon.ico
  public/seo/mstile-150x150.png
  public/seo/ogp.png
  public/seo/safari-pinned-tab.svg
  public/seo/site.webmanifest
Due: none

🤡 headタグをレンダリングするためのmockを作成
  src/tests/mocks/head.mock.tsx
Due: npm run lint

🏷️ describeの文章を変更
  src/utils/api/api.test.ts
Due: npm run lint

🔍️ seo対応
  src/models/index.ts
  src/utils/seo/index.tsx
Due: npm run lint

📸 snapshotの更新
  src/components/atoms/button/__snapshots__/button.test.tsx.snap
  src/components/atoms/text/__snapshots__/text.test.tsx.snap
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
  src/utils/seo/__snapshots__/seo.test.tsx.snap
Due: none

✅ headタグのsnapshotを作成するtest
  src/utils/seo/seo.test.tsx
Due: npm run lint

✨ 導入してみる
  src/pages/index.tsx
Due: npm run lint

[skip ci] auto-fixable format by github-actions
  public/seo/site.webmanifest
  src/models/index.ts
  src/pages/index.tsx
  src/tests/mocks/head.mock.tsx
  src/utils/seo/index.tsx
  src/utils/seo/seo.test.tsx
Due: npm run lint

⚡️ 整形
  public/seo/site.webmanifest
  src/models/index.ts
  src/pages/index.tsx
  src/tests/mocks/head.mock.tsx
  src/utils/seo/index.tsx
  src/utils/seo/seo.test.tsx
Due: npm run lint

Path conditions:
  npm run lint: any of: *.{js,jsx,ts,tsx}
  npm run fmt: any of: *.{json,yml,yaml,toml}
