Repository suzuka-kosen-festa/2022-HP: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run fmt

🐛 fragmentを暗黙的に用いることを禁止する
  src/tests/mocks/head.mock.tsx
Due: npm run lint

🔍️ seo対応 (#128)
  public/seo/android-chrome-192x192.png
  public/seo/android-chrome-512x512.png
  public/seo/apple-touch-icon.png
  public/seo/browserconfig.xml
  public/seo/favicon-16x16.png
  public/seo/favicon-32x32.png
  public/seo/favicon.ico
  public/seo/mstile-150x150.png
  public/seo/ogp.png
  public/seo/safari-pinned-tab.svg
  public/seo/site.webmanifest
  src/components/atoms/button/__snapshots__/button.test.tsx.snap
  src/components/atoms/text/__snapshots__/text.test.tsx.snap
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
  src/models/index.ts
  src/pages/index.tsx
  src/tests/mocks/head.mock.tsx
  src/utils/api/api.test.ts
  src/utils/seo/__snapshots__/seo.test.tsx.snap
  src/utils/seo/index.tsx
  src/utils/seo/seo.test.tsx
Due: npm run lint

✨ デザインに合った横幅に変えた
  src/components/templates/layout/index.tsx
Due: npm run lint

📸 snapshotを更新した
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
Due: none

✨ 魔法の力でfont-sizeを完全にレスポンシブにした
  src/components/atoms/anchor-text/index.tsx
  src/components/atoms/button/index.tsx
  src/components/atoms/text/index.tsx
  src/pages/index.tsx
Due: npm run lint

📸 snapshotを更新
  src/components/atoms/anchor-text/__snapshots__/anchor-text.test.tsx.snap
  src/components/atoms/button/__snapshots__/button.test.tsx.snap
  src/components/atoms/text/__snapshots__/text.test.tsx.snap
Due: none

⚡️ 整形
  src/components/atoms/button/index.tsx
Due: npm run lint

✨ headingコンポーネントを実装した
  src/components/atoms/heading/index.tsx
Due: npm run lint

✨ storiesへ追加
  src/components/atoms/heading/heading.stories.tsx
Due: npm run lint

✅ testの追加
  src/components/atoms/heading/heading.test.tsx
Due: npm run lint

📸 snapshotの追加
  src/components/atoms/heading/__snapshots__/heading.test.tsx.snap
Due: none

[skip ci] auto-fixable format by github-actions
  src/components/atoms/heading/heading.test.tsx
  src/components/atoms/heading/index.tsx
Due: npm run lint

chore: 整形
  src/components/atoms/heading/heading.test.tsx
  src/components/atoms/heading/index.tsx
Due: npm run lint

🔍️ tab-indexの追加とそれにともなってsnapshotを更新
  src/components/atoms/button/__snapshots__/button.test.tsx.snap
  src/components/atoms/button/index.tsx
Due: npm run lint

✨ underlineを不要とし、削除
  src/components/atoms/anchor-text/__snapshots__/anchor-text.test.tsx.snap
  src/components/atoms/anchor-text/index.tsx
Due: npm run lint

✅ testを更新した
  src/components/organisms/footer/footer.test.tsx
Due: npm run lint

[skip ci] auto-fixable format by github-actions
  src/components/organisms/footer/footer.test.tsx
Due: npm run lint

FIx: ubuntuに戻した
  .github/workflows/test.yml
Due: npm run fmt

Fix: argsの修正
  src/components/atoms/anchor-text/anchor-text.stories.tsx
Due: npm run lint

Fix: AnchorTextを呼び出す際の引数の追加
  src/components/organisms/footer/index.tsx
Due: npm run lint

Update: snapshotの更新
  src/components/atoms/anchor-text/__snapshots__/anchor-text.test.tsx.snap
Due: none

headingコンポーネントを実装した (#133)
  src/components/atoms/heading/__snapshots__/heading.test.tsx.snap
  src/components/atoms/heading/heading.stories.tsx
  src/components/atoms/heading/heading.test.tsx
  src/components/atoms/heading/index.tsx
Due: npm run lint

デザインに合った横幅に変えた (#132)
  src/components/atoms/anchor-text/__snapshots__/anchor-text.test.tsx.snap
  src/components/atoms/anchor-text/index.tsx
  src/components/atoms/button/__snapshots__/button.test.tsx.snap
  src/components/atoms/button/index.tsx
  src/components/atoms/text/__snapshots__/text.test.tsx.snap
  src/components/atoms/text/index.tsx
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
  src/components/templates/layout/index.tsx
  src/pages/index.tsx
Due: npm run lint

Fix: propの順番を変更
  src/components/atoms/anchor-text/anchor-text.stories.tsx
Due: npm run lint

Update: snapshotを更新
  src/components/organisms/footer/__snapshots__/footer.test.tsx.snap
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
Due: none

Update: snapshotの更新
  src/components/organisms/footer/__snapshots__/footer.test.tsx.snap
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
Due: none

📦️ @types/google.mapsを追加
  package.json
  yarn.lock
Due: npm run fmt

✨ mapコンポーネントを実装
  src/components/molecules/map/index.tsx
  src/models/index.ts
Due: npm run lint

✨ storiesの追加
  src/components/molecules/map/map.stories.tsx
Due: npm run lint

✅ testの追加
  src/components/molecules/map/map.test.tsx
Due: npm run lint

📸 snapshotの追加
  src/components/molecules/map/__snapshots__/map.test.tsx.snap
Due: none

🔥 remove keep file
  src/components/molecules/.gitkeep
Due: none

⚡️ 整形
  src/components/molecules/map/index.tsx
  src/components/molecules/map/map.stories.tsx
  src/components/molecules/map/map.test.tsx
Due: npm run lint

Update: paddingを可変に
  src/components/organisms/footer/index.tsx
Due: npm run lint

Update: 行の高さを揃えた
  src/components/organisms/footer/index.tsx
Due: npm run lint

Fix: 空白があったので消した
  src/components/organisms/footer/index.tsx
Due: npm run lint

✨ mapセクションの実装
  src/components/organisms/map-section/index.tsx
  src/models/index.ts
Due: npm run lint

✨ storiesの追加
  src/components/organisms/map-section/map-section.stories.tsx
Due: npm run lint

✅ testの追加
  src/components/organisms/map-section/map-section.test.tsx
Due: npm run lint

Path conditions:
  npm run lint: any of: *.{js,jsx,ts,tsx}
  npm run fmt: any of: *.{json,yml,yaml,toml}
