Repository suzuka-kosen-festa/2022-HP: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run fmt

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx}': npm run lint
'*.{json,yml,yaml,toml}': npm run fmt

📸 snapshotの追加
  src/components/organisms/map-section/__snapshots__/map-section.test.tsx.snap
Due: none

[skip ci] auto-fixable format by github-actions
  src/components/organisms/map-section/map-section.test.tsx
Due: npm run lint

⚡️ 整形
  src/components/organisms/map-section/map-section.test.tsx
Due: npm run lint

🐛 誤って削除していた型情報を修正
  src/models/index.ts
Due: npm run lint

👷 GOOGLE_MAP_API_KEYを追加
  .github/workflows/chromatic.yml
Due: npm run fmt

mapセクションの実装 (#138)
  .github/workflows/chromatic.yml
  package.json
  src/components/molecules/.gitkeep
  src/components/molecules/map/__snapshots__/map.test.tsx.snap
  src/components/molecules/map/index.tsx
  src/components/molecules/map/map.stories.tsx
  src/components/molecules/map/map.test.tsx
  src/components/organisms/map-section/__snapshots__/map-section.test.tsx.snap
  src/components/organisms/map-section/index.tsx
  src/components/organisms/map-section/map-section.stories.tsx
  src/components/organisms/map-section/map-section.test.tsx
  src/models/index.ts
  yarn.lock
Due: npm run lint, npm run fmt

✨ paddingの修正
  src/components/organisms/footer/index.tsx
Due: npm run lint

📸 snapshotを更新
  src/components/organisms/footer/__snapshots__/footer.test.tsx.snap
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
Due: none

Footerの作成 (#123)
  .github/workflows/chromatic.yml
  .github/workflows/codeql.yml
  .github/workflows/lighthouse.yml
  .github/workflows/linter.yml
  .github/workflows/prettier.yml
  .github/workflows/test.yml
  .github/workflows/token.yml
  docs/policy.md
  docs/rules.md
  docs/storybook.md
  src/components/atoms/anchor-text/__snapshots__/anchor-text.test.tsx.snap
  src/components/atoms/anchor-text/anchor-text.stories.tsx
  src/components/organisms/.gitkeep
  src/components/organisms/footer/__snapshots__/footer.test.tsx.snap
  src/components/organisms/footer/footer.stories.tsx
  src/components/organisms/footer/footer.test.tsx
  src/components/organisms/footer/index.tsx
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
  src/components/templates/layout/index.tsx
  src/models/index.ts
Due: npm run lint, npm run fmt

Update: about-sectionのpropertiesを追加
  src/models/index.ts
Due: npm run lint

Create: about-sectionを実装
  src/components/organisms/about-section/index.tsx
Due: npm run lint

Create: storiesの追加
  src/components/organisms/about-section/about-section.stories.tsx
Due: npm run lint

Create: テストの追加
  src/components/organisms/about-section/about-section.test.tsx
Due: npm run lint

Create: snapshotの追加
  src/components/organisms/about-section/__snapshots__/about-section.test.tsx.snap
Due: none

🍱 heroセクションで使う背景画像とRe:ROADのロゴを追加
  public/statics/gogo.webp
  public/statics/logo.webp
Due: none

🔧 next exportを用いるため、next/imageが使えない
  .eslintrc.yml
Due: npm run fmt

✨ heroセクションの実装
  src/components/organisms/hero-section/index.tsx
  src/models/index.ts
Due: npm run lint

✨ storiesを追加
  src/components/organisms/hero-section/hero-section.stories.tsx
Due: npm run lint

✅ testを追加
  src/components/organisms/hero-section/hero-section.test.tsx
Due: npm run lint

📸 snapshotの追加
  src/components/organisms/hero-section/__snapshots__/hero-section.test.tsx.snap
Due: none

🚚 optionsの名前を変更した
  src/components/organisms/map-section/map-section.test.tsx
Due: npm run lint

✨ layoutにheroを追加
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
  src/components/templates/layout/index.tsx
Due: npm run lint

⚡️ 整形
  src/components/templates/layout/index.tsx
Due: npm run lint

⚗️ logoの縦横を決定してFCPを上げた
  src/components/organisms/hero-section/__snapshots__/hero-section.test.tsx.snap
  src/components/organisms/hero-section/index.tsx
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
Due: npm run lint

[skip ci] auto-fixable format by github-actions
  src/components/organisms/hero-section/index.tsx
Due: npm run lint

⚡️ 整形
  src/components/organisms/hero-section/index.tsx
Due: npm run lint

♻️ mobileの文字サイズを大きくした
  src/components/atoms/anchor-text/__snapshots__/anchor-text.test.tsx.snap
  src/components/atoms/anchor-text/index.tsx
  src/components/atoms/button/__snapshots__/button.test.tsx.snap
  src/components/atoms/button/index.tsx
  src/components/atoms/heading/__snapshots__/heading.test.tsx.snap
  src/components/atoms/heading/index.tsx
  src/components/atoms/text/__snapshots__/text.test.tsx.snap
  src/components/atoms/text/index.tsx
  src/components/organisms/footer/__snapshots__/footer.test.tsx.snap
  src/components/organisms/footer/index.tsx
  src/components/organisms/map-section/__snapshots__/map-section.test.tsx.snap
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
Due: npm run lint

[skip ci] auto-fixable format by github-actions
  src/components/atoms/button/index.tsx
Due: npm run lint

⚡️ 整形
  src/components/atoms/button/index.tsx
Due: npm run lint

mobileの文字サイズを大きくした (#142)
  src/components/atoms/anchor-text/__snapshots__/anchor-text.test.tsx.snap
  src/components/atoms/anchor-text/index.tsx
  src/components/atoms/button/__snapshots__/button.test.tsx.snap
  src/components/atoms/button/index.tsx
  src/components/atoms/heading/__snapshots__/heading.test.tsx.snap
  src/components/atoms/heading/index.tsx
  src/components/atoms/text/__snapshots__/text.test.tsx.snap
  src/components/atoms/text/index.tsx
  src/components/organisms/footer/__snapshots__/footer.test.tsx.snap
  src/components/organisms/footer/index.tsx
  src/components/organisms/map-section/__snapshots__/map-section.test.tsx.snap
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
Due: npm run lint

Fix: 愚かな誤変換を討伐
  src/components/organisms/about-section/about-section.stories.tsx
Due: npm run lint

Fix: Buttonの愚かな改悪を修正
  src/components/organisms/about-section/index.tsx
Due: npm run lint

Fix: 不要なインポートを削除
  src/components/organisms/about-section/index.tsx
Due: npm run lint

Update: snapshotの更新
  src/components/organisms/about-section/__snapshots__/about-section.test.tsx.snap
Due: none

Fix: option名を変更
  src/components/organisms/about-section/about-section.test.tsx
Due: npm run lint

✨ font-sizeの変更
  src/components/organisms/hero-section/__snapshots__/hero-section.test.tsx.snap
  src/components/organisms/hero-section/index.tsx
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
Due: npm run lint

heroセクションの実装 (#140)
  .eslintrc.yml
  public/statics/gogo.webp
  public/statics/logo.webp
  src/components/organisms/hero-section/__snapshots__/hero-section.test.tsx.snap
  src/components/organisms/hero-section/hero-section.stories.tsx
  src/components/organisms/hero-section/hero-section.test.tsx
  src/components/organisms/hero-section/index.tsx
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
  src/components/templates/layout/index.tsx
  src/models/index.ts
Due: npm run lint, npm run fmt

🚑️ mergeを間違えた
  src/models/index.ts
Due: npm run lint

✨ 今年のテーマ「Re:ROAD」についてのセクションの実装
  src/components/organisms/festa-section/index.tsx
  src/models/index.ts
Due: npm run lint
