Repository suzuka-kosen-festa/2022-HP: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run fmt

format code
  babel.config.js
Due: npm run lint

fix: 環境変数の設定方法を変更
  src/components/molecules/map/index.tsx
Due: npm run lint

fix: 環境変数の設定方法を変更 (#162)
  src/components/molecules/map/index.tsx
Due: npm run lint

feat: Cloudflareを用いた最適化への対応
  next.config.js
  package.json
  public/_headers
  src/pages/_app.tsx
  src/pages/_document.tsx
  yarn.lock
Due: npm run lint, npm run fmt

fix in v1.0.0 (#163)
  babel.config.js
  next.config.js
  package.json
  public/_headers
  src/pages/_app.tsx
  src/pages/_document.tsx
  yarn.lock
Due: npm run lint, npm run fmt

chore: @types/gtag.jsを追加
  package.json
  yarn.lock
Due: npm run fmt

feat: Google tag managerを埋め込むためのscriptやセレクタを実装した
  src/infrastructures/gtm/index.tsx
  src/infrastructures/gtm/type/model.ts
Due: npm run lint

chore: 住所をセレクタブルにした
  src/components/organisms/map-section/index.tsx
Due: npm run lint

chore: Google tag managerを_app.tsxで読み込んだ
  src/pages/_app.tsx
Due: npm run lint

chore: Buttonイベントの取得
  src/components/organisms/about-section/index.tsx
  src/components/organisms/contact-section/index.tsx
Due: npm run lint

chore: snapshotの更新
  src/components/organisms/map-section/__snapshots__/map-section.test.tsx.snap
Due: none

feat: Google tag managerを埋め込むためのscriptやセレクタを実装した (#165)
  package.json
  src/components/organisms/about-section/index.tsx
  src/components/organisms/contact-section/index.tsx
  src/components/organisms/map-section/__snapshots__/map-section.test.tsx.snap
  src/components/organisms/map-section/index.tsx
  src/infrastructures/gtm/index.tsx
  src/infrastructures/gtm/type/model.ts
  src/pages/_app.tsx
  yarn.lock
Due: npm run lint, npm run fmt

fix analytics v1.0.0 (#166)
  package.json
  src/components/organisms/about-section/index.tsx
  src/components/organisms/contact-section/index.tsx
  src/components/organisms/map-section/__snapshots__/map-section.test.tsx.snap
  src/components/organisms/map-section/index.tsx
  src/infrastructures/gtm/index.tsx
  src/infrastructures/gtm/type/model.ts
  src/pages/_app.tsx
  yarn.lock
Due: npm run lint, npm run fmt

chore: eslint configの依存が壊れていたのでそれの修正
  renovate.json
  yarn.lock
Due: npm run fmt

[skip ci] auto-fixable format by github-actions
  renovate.json
Due: npm run fmt

chore: コードを整形
  renovate.json
Due: npm run fmt

fix: CIの権限、及び処理を修正
  .github/workflows/chromatic-test.yml
  .github/workflows/chromatic.yml
  .github/workflows/lighthouse.yml
  .github/workflows/prettier.yml
  .github/workflows/test.yml
  .github/workflows/token.yml
  src/components/molecules/map/index.tsx
Due: npm run lint, npm run fmt

fix: lhciのバージョンを修正
  .github/workflows/lighthouse.yml
Due: npm run fmt

fix: yarn add -g というオプションは存在しないぞ糸川
  .github/workflows/lighthouse.yml
Due: npm run fmt

fix: CIの権限、及び処理を修正 (#173)
  .github/workflows/chromatic-test.yml
  .github/workflows/chromatic.yml
  .github/workflows/lighthouse.yml
  .github/workflows/prettier.yml
  .github/workflows/test.yml
  .github/workflows/token.yml
  src/components/molecules/map/index.tsx
Due: npm run lint, npm run fmt

doc: PR templateを修正
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

doc: PR templateを修正 (#174)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

feat: design tokens transformerの追加
  package.json
  scripts/build.js
  yarn.lock
Due: npm run lint, npm run fmt

CIの権限、及び処理を修正, PR templateを修正 (#176)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/chromatic-test.yml
  .github/workflows/chromatic.yml
  .github/workflows/lighthouse.yml
  .github/workflows/prettier.yml
  .github/workflows/test.yml
  .github/workflows/token.yml
  package.json
  renovate.json
  scripts/build.js
  src/components/molecules/map/index.tsx
  yarn.lock
Due: npm run lint, npm run fmt

fix: CIが実行時に落ちるものを修正
  .github/workflows/prettier.yml
  .github/workflows/token-test.yml
  .github/workflows/token.yml
Due: npm run fmt

fix: headをfigmaに変更
  .github/workflows/token.yml
Due: npm run fmt

fix: Fix CI
  .github/workflows/prettier.yml
  .github/workflows/token-test.yml
  .github/workflows/token.yml
Due: npm run fmt

fix: Fix CI
  .github/workflows/token.yml
Due: npm run fmt

[figma] add new site tokens
  data/tokens.json
Due: npm run fmt

[skip ci] auto-fixable format by github-actions
  data/tokens.json
Due: npm run fmt

chore: pluginの消去
  .prettierignore
  .yarn/plugins/@yarnpkg/plugin-production-install.cjs
  .yarnrc.yml
Due: npm run fmt

feat: design tokenから_variable.jsonの生成
  src/styles/_variables.json
Due: npm run fmt

chore: Fix tailwind config
  tailwind.config.js
Due: npm run lint

refactor: Next.jsをReact.jsに載せ替える
  .eslintignore
  .prettierignore
  babel.config.js
  jest.config.js
  jest.setup.js
  lighthouserc.js
  next-env.d.ts
  next.config.js
  package.json
  src/pages/_app.tsx
  src/pages/_document.tsx
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  yarn.lock
Due: npm run lint, npm run fmt

feat: 使用していないファイルなどを削除
  src/tests/jest.custom-matchers.test.tsx
  src/tests/jest.custom-matchers.ts
  src/tests/mocks/head.mock.tsx
  src/utils/api/api.test.ts
  src/utils/api/index.ts
  src/utils/seo/index.tsx
  src/utils/seo/seo.test.tsx
Due: npm run lint

doc: READMEの更新
  README.md
Due: none

feat: ESLintのルールを更新
  .eslintrc.yml
Due: npm run fmt

ci: CIの競合を修正
  .github/workflows/chromatic-test.yml
  .github/workflows/chromatic.yml
  .github/workflows/lighthouse.yml
  .github/workflows/test.yml
Due: npm run fmt

Path conditions:
  npm run lint: any of: *.{js,jsx,ts,tsx}
  npm run fmt: any of: *.{json,yml,yaml,toml}
