Repository suzuka-kosen-festa/2022-HP: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run fmt

chore: Format the code
  src/components/atoms/sub-heading/index.tsx
  src/components/atoms/sub-heading/sub-heading.stories.tsx
Due: npm run lint

feat: Create sub heading component (#241)
  src/components/atoms/sub-heading/__snapshots__/sub-heading.test.tsx.snap
  src/components/atoms/sub-heading/index.tsx
  src/components/atoms/sub-heading/sub-heading.stories.tsx
  src/components/atoms/sub-heading/sub-heading.test.tsx
Due: npm run lint

[figma] add caution, social color tokens
  data/tokens.json
Due: npm run fmt

[figma] add spotify color token
  data/tokens.json
Due: npm run fmt

chore: コードを整形
  data/tokens.json
  src/styles/_variables.json
Due: npm run fmt

feat: design tokenから_variable.jsonの生成
  src/styles/_variables.json
Due: npm run fmt

chore: コードを整形
  src/styles/_variables.json
Due: npm run fmt

Social, cautionトークン生成 (#244)
  data/tokens.json
  src/styles/_variables.json
Due: npm run fmt

chore: Fix button display properties
  src/components/atoms/button/__snapshots__/button.test.tsx.snap
  src/components/atoms/button/index.tsx
  src/components/organisms/contact-section/__snapshots__/contact-section.test.tsx.snap
Due: npm run lint

feat: Update about section
  src/components/organisms/about-section/__snapshots__/about-section.test.tsx.snap
  src/components/organisms/about-section/about-section.stories.tsx
  src/components/organisms/about-section/index.tsx
  src/components/organisms/about-section/type/model.ts
Due: npm run lint

chore: Fix lint error
  src/models/index.ts
Due: npm run lint

chore: Remove about section model from global types
  src/models/about-section.ts
Due: npm run lint

chore: Format code
  src/components/organisms/about-section/about-section.stories.tsx
  src/components/organisms/about-section/index.tsx
Due: npm run lint

feat: Update about section (#242)
  src/components/atoms/button/__snapshots__/button.test.tsx.snap
  src/components/atoms/button/index.tsx
  src/components/organisms/about-section/__snapshots__/about-section.test.tsx.snap
  src/components/organisms/about-section/about-section.stories.tsx
  src/components/organisms/about-section/index.tsx
  src/components/organisms/about-section/type/model.ts
  src/components/organisms/contact-section/__snapshots__/contact-section.test.tsx.snap
  src/models/index.ts
Due: npm run lint

[update] FooterBoxを修正
  src/components/organisms/footer/index.tsx
Due: npm run lint

[update] snapshotの更新
  src/components/organisms/footer/__snapshots__/footer.test.tsx.snap
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
Due: none

[add] argsTypesの追加
  src/components/organisms/footer/footer.stories.tsx
Due: npm run lint

chore: Fix footer style and move &copy; mark to footer component
  src/components/organisms/footer/__snapshots__/footer.test.tsx.snap
  src/components/organisms/footer/footer.stories.tsx
  src/components/organisms/footer/footer.test.tsx
  src/components/organisms/footer/index.tsx
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
  src/components/templates/layout/index.tsx
Due: npm run lint

chore: Move footer model to inside footer directory
  src/components/organisms/footer/index.tsx
  src/components/organisms/footer/type/model.ts
  src/models/index.ts
Due: npm run lint

feat: Update Footer (#245)
  src/components/organisms/footer/__snapshots__/footer.test.tsx.snap
  src/components/organisms/footer/footer.stories.tsx
  src/components/organisms/footer/footer.test.tsx
  src/components/organisms/footer/index.tsx
  src/components/organisms/footer/type/model.ts
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
  src/components/templates/layout/index.tsx
  src/models/index.ts
Due: npm run lint

feat: Update map section to access section
  src/components/molecules/map/__snapshots__/map.test.tsx.snap
  src/components/molecules/map/index.tsx
  src/components/molecules/map/map.stories.tsx
  src/components/molecules/map/map.test.tsx
  src/components/organisms/access-section/__snapshots__/access-section.test.tsx.snap
  src/components/organisms/access-section/access-section.stories.tsx
  src/components/organisms/access-section/access-section.test.tsx
  src/components/organisms/access-section/index.tsx
  src/components/organisms/access-section/type/model.ts
  src/components/organisms/map-section/__snapshots__/map-section.test.tsx.snap
  src/components/organisms/map-section/index.tsx
  src/components/organisms/map-section/map-section.stories.tsx
  src/models/index.ts
  src/models/map-section.ts
Due: npm run lint

chore: Rename section
  src/pages/main.tsx
Due: npm run lint

chore: Format code
  src/components/organisms/access-section/access-section.stories.tsx
  src/components/organisms/access-section/access-section.test.tsx
  src/components/organisms/access-section/index.tsx
Due: npm run lint

chore: Update styleing
  src/components/atoms/button/index.tsx
Due: npm run lint

chore: Update snapshot
  src/components/organisms/access-section/__snapshots__/access-section.test.tsx.snap
Due: none

feat: Update festa section
  src/components/organisms/festa-section/__snapshots__/festa-section.test.tsx.snap
  src/components/organisms/festa-section/festa-section.stories.tsx
  src/components/organisms/festa-section/index.tsx
  src/components/organisms/festa-section/type/model.ts
Due: npm run lint

chore: コードを整形
  src/components/organisms/festa-section/index.tsx
Due: npm run lint

chore: Fix props for CI
  src/pages/main.tsx
Due: npm run lint

feat: Update festa section (#243)
  src/components/organisms/festa-section/__snapshots__/festa-section.test.tsx.snap
  src/components/organisms/festa-section/festa-section.stories.tsx
  src/components/organisms/festa-section/index.tsx
  src/components/organisms/festa-section/type/model.ts
  src/models/index.ts
  src/pages/main.tsx
Due: npm run lint

feat: Update map section to access section (#246)
  src/components/atoms/button/index.tsx
  src/components/molecules/map/__snapshots__/map.test.tsx.snap
  src/components/molecules/map/index.tsx
  src/components/molecules/map/map.stories.tsx
  src/components/molecules/map/map.test.tsx
  src/components/organisms/access-section/__snapshots__/access-section.test.tsx.snap
  src/components/organisms/access-section/access-section.stories.tsx
  src/components/organisms/access-section/access-section.test.tsx
  src/components/organisms/access-section/index.tsx
  src/components/organisms/access-section/type/model.ts
  src/components/organisms/map-section/__snapshots__/map-section.test.tsx.snap
  src/components/organisms/map-section/index.tsx
  src/components/organisms/map-section/map-section.stories.tsx
  src/models/index.ts
  src/models/map-section.ts
  src/pages/main.tsx
Due: npm run lint

[update] update contact-section
  src/components/organisms/contact-section/contact-section.stories.tsx
  src/components/organisms/contact-section/index.tsx
  src/components/organisms/contact-section/types/model.ts
  src/models/index.ts
Due: npm run lint

[update] update snapshots
  src/components/organisms/contact-section/__snapshots__/contact-section.test.tsx.snap
Due: none

[remove] remove contact section model from global types
  src/models/contact-section.ts
Due: npm run lint

feat: Update Contact section (#249)
  src/components/organisms/contact-section/__snapshots__/contact-section.test.tsx.snap
  src/components/organisms/contact-section/contact-section.stories.tsx
  src/components/organisms/contact-section/index.tsx
  src/components/organisms/contact-section/types/model.ts
  src/models/index.ts
Due: npm run lint

chore: Add custom padding to tailwind
  tailwind.config.js
Due: npm run lint

chore: Fix test title
  src/components/atoms/anchor-text/__snapshots__/anchor-text.test.tsx.snap
  src/components/atoms/anchor-text/anchor-text.test.tsx
  src/components/atoms/sub-heading/__snapshots__/sub-heading.test.tsx.snap
  src/components/atoms/sub-heading/sub-heading.test.tsx
Due: npm run lint

feat: Create icon component with iconify
  package.json
  src/components/atoms/icon/__snapshots__/icon.test.tsx.snap
  src/components/atoms/icon/icon.stories.tsx
  src/components/atoms/icon/icon.test.tsx
  src/components/atoms/icon/index.tsx
  src/components/atoms/icon/type/model.ts
  yarn.lock
Due: npm run lint, npm run fmt

chore: Remove icon/ from gitignore
  .gitignore
Due: none

chore: コードを整形
  src/components/atoms/icon/icon.stories.tsx
  src/components/atoms/icon/index.tsx
  src/components/atoms/icon/type/model.ts
  tailwind.config.js
Due: npm run lint

Path conditions:
  npm run lint: any of: *.{js,jsx,ts,tsx}
  npm run fmt: any of: *.{json,yml,yaml,toml}
