Repository suzuka-kosen-festa/2022-HP: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run fmt

` --frozen-lockfile` を `yarn install` のオプションとして適用
  .github/workflows/token.yml
Due: npm run fmt

fix: token.yml
  .github/workflows/token.yml
Due: npm run fmt

🚑️ chromaticの無料分を節約するための設定を追記
  .github/workflows/chromatic.yml
Due: npm run fmt

add first site color tokens
  data/tokens.json
Due: npm run fmt

fix: `--config`オプションでトークン生成元のファイルを指定
  .github/workflows/token.yml
Due: npm run fmt

🐛 fix lock file
  package.json
  yarn.lock
Due: npm run fmt

🚑️ fix lock file
  yarn.lock
Due: none

🐛 fix faild test
  .github/workflows/lighthouse.yml
  src/components/atoms/text/__snapshots__/text.test.ts.snap
Due: npm run fmt

fix: 設定を `config.json` に移すように変更
  .github/workflows/token.yml
  config.json
Due: npm run fmt

generate scss by style-dictionary
  package.json
  src/styles/_variables.scss
  yarn.lock
Due: npm run fmt

📝 PRテンプレートを追加した
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

📝 PRテンプレートを記載した
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

🔥 remove jest files
  __mocks__/file.mock.js
  __mocks__/style.mock.js
  jest.config.js
  jest.setup.js
  src/components/atoms/text/__snapshots__/text.test.ts.snap
  src/components/atoms/text/text.test.ts
Due: npm run lint

🙈 update git ignore
  .gitignore
Due: none

🔥 remove preact setting
  next.config.js
Due: npm run lint

✨ upgrade test plugin to vitest
  package.json
  tsconfig.json
  vitest.config.ts
  vitest.setup.ts
  yarn.lock
Due: npm run lint, npm run fmt

✅ add some test
  src/components/atoms/text/__snapshots__/text.test.tsx.snap
  src/components/atoms/text/text.test.tsx
  src/pages/index.tsx
  src/tests/pages/__snapshots__/index.test.tsx.snap
  src/tests/pages/index.test.tsx
Due: npm run lint

🎨 pritty some code
  .yarn/releases/yarn-3.2.1.cjs
  README.md
  config.json
Due: npm run fmt

➕ add @vitest/ui
  package.json
  yarn.lock
Due: npm run fmt

👷 add auto commit and push job
  .github/workflows/prettier.yml
  .github/workflows/test.yml
Due: npm run fmt

🙈 fix prettier ignore
  .prettierignore
Due: none

🐛 fix bug
  .github/workflows/prettier.yml
Due: npm run fmt

🤖 auto-fixable format by github-actions
  src/components/atoms/text/text.test.tsx
  src/tests/pages/index.test.tsx
  vitest.config.ts
  vitest.setup.ts
Due: npm run lint

✨ update prettier rule
  .babelrc.js
  .prettierrc.yml
  .storybook/main.js
  .storybook/preview.mjs
  .yarnrc.yml
  babel-plugin-macros.config.js
  docs/storybook.md
  lighthouserc.js
  next.config.js
  postcss.config.js
  src/@types/twin.d.ts
  src/components/atoms/text/index.tsx
  src/components/atoms/text/text.stories.tsx
  src/components/atoms/text/text.test.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/tests/pages/index.test.tsx
  tailwind.config.js
  vitest.config.ts
  vitest.setup.ts
Due: npm run lint, npm run fmt

✨ style-dictionaryをTailwind CSSに対応させた
  config.json
  package.json
  scripts/build.js
  scripts/utils.js
  yarn.lock
Due: npm run lint, npm run fmt

👷 5eb51f5 に伴ってCIを変更した。
  .github/workflows/token.yml
Due: npm run fmt

🔧 scripts/ をeslintからignoreした。tailwind.config内のwildcardが冗長だったので修正
  .eslintignore
  tailwind.config.js
Due: npm run lint

🎨 コードを整形した
  scripts/build.js
  scripts/utils.js
Due: npm run lint

🍱 協賛企業の情報を載せるファイルを作成した
  assets/sponsors.yaml
Due: npm run fmt

➕ yamlパーサを追加した
  package.json
  yarn.lock
Due: npm run fmt

🔨 yarn@3.2.1の更新
  .yarn/releases/yarn-3.2.1.cjs
Due: none

🏷️ yamlパーサのparse関数の返り値をジェネリックにした
  src/@types/yaml.d.ts
Due: npm run lint

🔥 gitkeepの削除
  src/utils/.gitkeep
Due: none

🏷️ modelを追加
  src/models/constant.ts
  src/models/type.ts
Due: npm run lint

💩 yamlをパースする関数とfieldの配列からRYamlの配列を返す関数を定義
  src/utils/api.ts
Due: npm run lint

✅ api.tsのテストを追加
  assets/_test.yaml
  src/tests/utils/api.test.ts
Due: npm run lint, npm run fmt

🤖 auto-fixable format by github-actions
  src/@types/yaml.d.ts
  src/models/constant.ts
  src/models/type.ts
  src/tests/utils/api.test.ts
  src/utils/api.ts
Due: npm run lint

✨ ワイルドカードを修正
  package.json
Due: npm run fmt

👷 fix CI
  .github/workflows/linter.yml
  .github/workflows/prettier.yml
Due: npm run fmt

🚑️ PRテンプレートの設定がおかしかった
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Path conditions:
  npm run lint: any of: *.{js,jsx,ts,tsx}
  npm run fmt: any of: *.{json,yml,yaml,toml}
