Repository suzuka-kosen-festa/2022-HP: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run fmt

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx}': npm run lint
'*.{json,yml,yaml,toml}': npm run fmt

doc: Update stories
  src/components/molecules/bazaar-card/bazaar-card.stories.tsx
Due: npm run lint

chore: Update routing
  src/routes.tsx
Due: npm run lint

feat: Create bazaar page
  src/components/templates/bazaar/__snapshots__/bazaar.test.tsx.snap
  src/components/templates/bazaar/bazaar.stories.tsx
  src/components/templates/bazaar/bazaar.test.tsx
  src/components/templates/bazaar/index.tsx
  src/components/templates/bazaar/types/model.ts
  src/pages/bazaar.tsx
Due: npm run lint

chore: Update url params
  src/components/molecules/bazaar-card/__snapshots__/bazaar-card.test.tsx.snap
  src/components/molecules/bazaar-card/index.tsx
  src/components/molecules/hamburger-menu/__snapshots__/hamburger-menu.test.tsx.snap
  src/components/molecules/hamburger-menu/hamburger-menu.stories.tsx
  src/components/molecules/hamburger-menu/hamburger-menu.test.tsx
  src/components/organisms/bazaar-section/__snapshots__/bazaar-section.test.tsx.snap
  src/components/organisms/bazaar-section/index.tsx
  src/components/organisms/layout/__snapshots__/layout.test.tsx.snap
  src/components/organisms/layout/index.tsx
  src/components/templates/top/__snapshots__/top.test.tsx.snap
  src/pages/index.ts
Due: npm run lint

feat: Create Bazaar page (#324)
  src/components/molecules/bazaar-card/__snapshots__/bazaar-card.test.tsx.snap
  src/components/molecules/bazaar-card/bazaar-card.stories.tsx
  src/components/molecules/bazaar-card/index.tsx
  src/components/molecules/hamburger-menu/__snapshots__/hamburger-menu.test.tsx.snap
  src/components/molecules/hamburger-menu/hamburger-menu.stories.tsx
  src/components/molecules/hamburger-menu/hamburger-menu.test.tsx
  src/components/organisms/bazaar-section/__snapshots__/bazaar-section.test.tsx.snap
  src/components/organisms/bazaar-section/index.tsx
  src/components/organisms/layout/__snapshots__/layout.test.tsx.snap
  src/components/organisms/layout/index.tsx
  src/components/templates/bazaar/__snapshots__/bazaar.test.tsx.snap
  src/components/templates/bazaar/bazaar.stories.tsx
  src/components/templates/bazaar/bazaar.test.tsx
  src/components/templates/bazaar/index.tsx
  src/components/templates/bazaar/types/model.ts
  src/components/templates/top/__snapshots__/top.test.tsx.snap
  src/pages/bazaar.tsx
  src/pages/index.ts
  src/routes.tsx
  tailwind.config.js
Due: npm run lint

[figma] 50系統のトークン生成
  data/tokens.json
Due: npm run fmt

chore: Format code
  data/tokens.json
  src/styles/_variables.json
Due: npm run fmt

feat: design tokenから_variable.jsonの生成
  src/styles/_variables.json
Due: npm run fmt

赤、青、紫の50系を生成した (#336)
  data/tokens.json
  src/styles/_variables.json
Due: npm run fmt

chore: Add api response type
  src/api/admin.ts
  src/api/bazaar.ts
  src/api/liveevent.ts
  src/api/prisma.ts
Due: npm run lint

chore: Fix format
  src/components/organisms/layout/index.tsx
Due: npm run lint

chore: Update tailwind config
  tailwind.config.js
Due: npm run lint

chore: Update type of properties
  src/components/atoms/time-table-element/index.tsx
  src/components/atoms/time-table-element/time-table-element.stories.tsx
  src/components/atoms/time-table-element/types/model.ts
Due: npm run lint

chore: Update html file for portal
  .storybook/preview-body.html
  src/index.html
Due: none

feat: Create time table element
  src/components/atoms/time-table-element/__snapshots__/time-table-element.test.tsx.snap
  src/components/atoms/time-table-element/index.tsx
  src/components/atoms/time-table-element/time-table-element.stories.tsx
  src/components/atoms/time-table-element/time-table-element.test.tsx
  src/components/atoms/time-table-element/types/model.ts
Due: npm run lint

feat: Create time table row
  src/components/molecules/time-table-row/__snapshots__/time-table-row.test.tsx.snap
  src/components/molecules/time-table-row/index.tsx
  src/components/molecules/time-table-row/time-table-row.stories.tsx
  src/components/molecules/time-table-row/time-table-row.test.tsx
  src/components/molecules/time-table-row/types/model.ts
Due: npm run lint

chore: Update element to list item
  src/api/bazaar.ts
  src/api/liveevent.ts
  src/components/atoms/time-table-element/__snapshots__/time-table-element.test.tsx.snap
  src/components/atoms/time-table-element/index.tsx
  src/components/atoms/time-table-element/time-table-element.stories.tsx
Due: npm run lint

chore: コードを整形
  src/styles/_variables.json
Due: npm run fmt

[figma] create border-primary
  data/tokens.json
Due: npm run fmt

chore: Format code
  src/styles/_variables.json
Due: npm run fmt

chore: Format code
  data/tokens.json
Due: npm run fmt

chore: Add background color
  src/components/molecules/time-table-row/__snapshots__/time-table-row.test.tsx.snap
  src/components/molecules/time-table-row/index.tsx
Due: npm run lint

feat: Fix time table element
  src/components/atoms/time-table-element/__snapshots__/time-table-element.test.tsx.snap
  src/components/atoms/time-table-element/index.tsx
  src/components/molecules/time-table-row/__snapshots__/time-table-row.test.tsx.snap
  src/components/molecules/time-table-row/index.tsx
Due: npm run lint

feat: Create time table
  src/components/organisms/time-table/__snapshots__/time-table.test.tsx.snap
  src/components/organisms/time-table/index.tsx
  src/components/organisms/time-table/time-table.stories.tsx
  src/components/organisms/time-table/time-table.test.tsx
  src/components/organisms/time-table/types/model.ts
Due: npm run lint

chore: Fix eslint warning
  src/components/organisms/time-table/index.tsx
Due: npm run lint

feat: Create timetable (#335)
  .storybook/preview-body.html
  src/api/admin.ts
  src/api/bazaar.ts
  src/api/liveevent.ts
  src/api/prisma.ts
  src/components/atoms/time-table-element/__snapshots__/time-table-element.test.tsx.snap
  src/components/atoms/time-table-element/index.tsx
  src/components/atoms/time-table-element/time-table-element.stories.tsx
  src/components/atoms/time-table-element/time-table-element.test.tsx
  src/components/atoms/time-table-element/types/model.ts
  src/components/molecules/time-table-row/__snapshots__/time-table-row.test.tsx.snap
  src/components/molecules/time-table-row/index.tsx
  src/components/molecules/time-table-row/time-table-row.stories.tsx
  src/components/molecules/time-table-row/time-table-row.test.tsx
  src/components/molecules/time-table-row/types/model.ts
  src/components/organisms/layout/index.tsx
  src/components/organisms/time-table/__snapshots__/time-table.test.tsx.snap
  src/components/organisms/time-table/index.tsx
  src/components/organisms/time-table/time-table.stories.tsx
  src/components/organisms/time-table/time-table.test.tsx
  src/components/organisms/time-table/types/model.ts
  src/index.html
  tailwind.config.js
Due: npm run lint

chore: Fix Not found page
  src/components/templates/not-found/__snapshots__/not-found.test.tsx.snap
  src/components/templates/not-found/index.tsx
Due: npm run lint

chore: Add loading properties to img tag
  src/components/molecules/bazaar-card/index.tsx
  src/components/molecules/title/index.tsx
  src/components/organisms/map-section/index.tsx
Due: npm run lint

feat: Create member component
  src/components/molecules/member/__snapshots__/member.test.tsx.snap
  src/components/molecules/member/index.tsx
  src/components/molecules/member/member.stories.tsx
  src/components/molecules/member/member.test.tsx
  src/components/molecules/member/types/model.ts
Due: npm run lint

chore: Update snapshot
  src/components/molecules/bazaar-card/__snapshots__/bazaar-card.test.tsx.snap
  src/components/molecules/title/__snapshots__/title.test.tsx.snap
  src/components/organisms/map-section/__snapshots__/map-section.test.tsx.snap
  src/components/templates/bazaar/__snapshots__/bazaar.test.tsx.snap
  src/components/templates/sponsor/__snapshots__/sponsor.test.tsx.snap
  src/components/templates/top/__snapshots__/top.test.tsx.snap
Due: none

chore: Move component because of name was same
  src/components/molecules/member-card/__snapshots__/member-card.test.tsx.snap
  src/components/molecules/member-card/index.tsx
  src/components/molecules/member-card/member-card.stories.tsx
  src/components/molecules/member-card/member-card.test.tsx
  src/components/molecules/member-card/types/model.ts
Due: npm run lint

chore: Fix styleing of member card
  src/components/molecules/member-card/__snapshots__/member-card.test.tsx.snap
  src/components/molecules/member-card/index.tsx
Due: npm run lint

feat: Create member page template
  src/components/templates/member/__snapshots__/member.test.tsx.snap
  src/components/templates/member/index.tsx
  src/components/templates/member/member.stories.tsx
  src/components/templates/member/member.test.tsx
  src/components/templates/member/types/model.ts
Due: npm run lint

chore: Format code
  src/components/molecules/member-card/index.tsx
  src/components/molecules/member-card/member-card.stories.tsx
  src/components/molecules/member-card/member-card.test.tsx
  src/components/molecules/member-card/types/model.ts
  src/components/templates/member/index.tsx
  src/components/templates/member/member.stories.tsx
  src/components/templates/member/member.test.tsx
  src/components/templates/member/types/model.ts
Due: npm run lint
