Repository suzuka-kosen-festa/2022-HP: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run fmt

✨ storiesの追加
  src/components/organisms/festa-section/festa-section.stories.tsx
Due: npm run lint

✅ testを追加
  src/components/organisms/festa-section/festa-section.test.tsx
Due: npm run lint

📸 snapshotの追加
  src/components/organisms/festa-section/__snapshots__/festa-section.test.tsx.snap
Due: none

⚡️ 整形
  src/components/organisms/festa-section/festa-section.stories.tsx
  src/components/organisms/festa-section/index.tsx
  src/models/index.ts
Due: npm run lint

Update: propertiesとchildrenの型の修正
  src/models/index.ts
Due: npm run lint

Update: Button内のテキストであることを明示
  src/components/organisms/about-section/about-section.stories.tsx
  src/components/organisms/about-section/index.tsx
  src/models/index.ts
Due: npm run lint

Update: 不要なcssの削除
  src/components/organisms/about-section/index.tsx
Due: npm run lint

Update: snapshotの更新
  src/components/organisms/about-section/__snapshots__/about-section.test.tsx.snap
Due: none

✨ お問い合わせセクションの実装
  src/components/organisms/contact-section/index.tsx
  src/models/index.ts
Due: npm run lint

✨ storiesの追加
  src/components/organisms/contact-section/contact-section.stories.tsx
Due: npm run lint

✅ testの追加
  src/components/organisms/contact-section/contact-section.test.tsx
Due: npm run lint

📸 snapshotの追加
  src/components/organisms/contact-section/__snapshots__/contact-section.test.tsx.snap
Due: none

今年のテーマ「Re:ROAD」についてのセクションの実装 (#144)
  src/components/organisms/festa-section/__snapshots__/festa-section.test.tsx.snap
  src/components/organisms/festa-section/festa-section.stories.tsx
  src/components/organisms/festa-section/festa-section.test.tsx
  src/components/organisms/festa-section/index.tsx
  src/models/index.ts
Due: npm run lint

[skip ci] auto-fixable format by github-actions
  src/components/organisms/contact-section/contact-section.test.tsx
Due: npm run lint

⚡️ 整形
  src/components/organisms/contact-section/contact-section.test.tsx
Due: npm run lint

Update: テストの追加
  src/components/organisms/about-section/about-section.test.tsx
Due: npm run lint

鈴鹿高専についてのセクションの実装 (#143)
  src/components/organisms/about-section/__snapshots__/about-section.test.tsx.snap
  src/components/organisms/about-section/about-section.stories.tsx
  src/components/organisms/about-section/about-section.test.tsx
  src/components/organisms/about-section/index.tsx
  src/models/index.ts
Due: npm run lint

お問い合わせセクションの実装 (#145)
  src/components/organisms/contact-section/__snapshots__/contact-section.test.tsx.snap
  src/components/organisms/contact-section/contact-section.stories.tsx
  src/components/organisms/contact-section/contact-section.test.tsx
  src/components/organisms/contact-section/index.tsx
  src/models/index.ts
Due: npm run lint

Update: Propertiesの追加
  src/models/index.ts
Due: npm run lint

Create: sponsor-sectionの実装
  src/components/organisms/sponsor-section/index.tsx
Due: npm run lint

Create: テストを追加
  src/components/organisms/sponsor-section/sponsor-section.test.tsx
Due: npm run lint

Create: storiesを追加
  src/components/organisms/sponsor-section/sponsor-section.stories.tsx
Due: npm run lint

Create: snapshotを追加
  src/components/organisms/sponsor-section/__snapshots__/sponsor-section.test.tsx.snap
Due: none

✨ hero sectionはセクションだがコンテンツモデル的にheaderと同格と判断
  src/components/organisms/hero-section/__snapshots__/hero-section.test.tsx.snap
  src/components/organisms/hero-section/hero-section.test.tsx
  src/components/organisms/hero-section/index.tsx
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
  src/models/index.ts
Due: npm run lint

✨ twitterの埋め込みの作成
  src/components/molecules/twitter/index.tsx
Due: npm run lint

🔧 lintのsecretsになりうる箇所へのエラーを廃止
  .eslintrc.yml
Due: npm run fmt

✨ storiesの追加
  src/components/molecules/twitter/twitter.stories.tsx
Due: npm run lint

✅ testの追加
  src/components/molecules/twitter/twitter.test.tsx
Due: npm run lint

📸 snapshotの追加
  src/components/molecules/twitter/__snapshots__/twitter.test.tsx.snap
Due: none

✨ snsセクションを実装
  src/components/organisms/sns-section/index.tsx
  src/models/index.ts
Due: npm run lint

✨ storiesの追加
  src/components/organisms/sns-section/sns-section.stories.tsx
Due: npm run lint

✅ testの追加
  src/components/organisms/sns-section/sns-section.test.tsx
Due: npm run lint

📸 snapshotの追加
  src/components/organisms/sns-section/__snapshots__/sns-section.test.tsx.snap
Due: none

Fix: 型用意されてるの使わないとか愚か？
  src/models/index.ts
Due: npm run lint

Update: sponsorsを配列に変更
  src/components/organisms/sponsor-section/sponsor-section.stories.tsx
Due: npm run lint

Update: 企業一覧をリストで再実装
  src/components/organisms/sponsor-section/index.tsx
Due: npm run lint

Update] snapshotの更新
  src/components/organisms/sponsor-section/__snapshots__/sponsor-section.test.tsx.snap
Due: none

snsセクションを実装 (#150)
  .eslintrc.yml
  src/components/molecules/twitter/__snapshots__/twitter.test.tsx.snap
  src/components/molecules/twitter/index.tsx
  src/components/molecules/twitter/twitter.stories.tsx
  src/components/molecules/twitter/twitter.test.tsx
  src/components/organisms/hero-section/__snapshots__/hero-section.test.tsx.snap
  src/components/organisms/hero-section/index.tsx
  src/components/organisms/sns-section/__snapshots__/sns-section.test.tsx.snap
  src/components/organisms/sns-section/index.tsx
  src/components/organisms/sns-section/sns-section.stories.tsx
  src/components/organisms/sns-section/sns-section.test.tsx
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
  src/models/index.ts
Due: npm run lint, npm run fmt

Update: 不要な要素の削除
  src/components/organisms/sponsor-section/sponsor-section.stories.tsx
Due: npm run lint

Update: リストの書き方を変更
  src/components/organisms/sponsor-section/index.tsx
Due: npm run lint

Path conditions:
  npm run lint: any of: *.{js,jsx,ts,tsx}
  npm run fmt: any of: *.{json,yml,yaml,toml}
