Repository suzuka-kosen-festa/2022-HP: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run fmt

⚡️ パッケージマネージャーをyarn@Berryに変更した
  .yarn/plugins/@yarnpkg/plugin-production-install.cjs
  .yarn/releases/yarn-3.2.0.cjs
  .yarnrc.yml
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: npm run fmt

📝 (#2)ドキュメントを整備した
  README.md
  docs/policy.md
  docs/rules.md
Due: none

✨ add Storybook
  .eslintignore
  .eslintrc.yml
  .gitignore
  .prettierignore
  .storybook/main.js
  .storybook/preview.js
  package.json
  yarn.lock
Due: npm run lint, npm run fmt

✨ テスト環境の構築
  .eslintignore
  .storybook/main.js
  .storybook/preview.js
  __mocks__/file.mock.js
  __mocks__/style.mock.js
  jest.config.js
  jest.setup.js
  package.json
  tsconfig.json
  yarn.lock
Due: npm run lint, npm run fmt

テスト用にTextコンポーネントを作った
  src/components/atoms/.gitkeep
  src/components/atoms/text/__snapshots__/text.test.ts.snap
  src/components/atoms/text/index.tsx
  src/components/atoms/text/text.stories.tsx
  src/components/atoms/text/text.test.ts
  src/pages/index.tsx
Due: npm run lint

🔧 Storybookの設定を変更
  .storybook/main.js
  package.json
  yarn.lock
Due: npm run lint, npm run fmt

👷 CIの追加
  .github/workflows/chromatic.yml
Due: npm run fmt

👷 CIを修復した
  .github/workflows/chromatic.yml
Due: npm run fmt

📝 Storybookの使い方をドキュメントに追加した
  docs/storybook.md
Due: none

🐛 fix jest bugs
  jest.config.js
Due: npm run lint

🎨 format code
  .storybook/main.js
  docs/policy.md
  docs/rules.md
  docs/storybook.md
  src/components/atoms/text/index.tsx
  src/components/atoms/text/text.stories.tsx
  src/components/atoms/text/text.test.ts
Due: npm run lint

🔥 (#6) Huskyを消去しました
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.yml
  package.json
  yarn.lock
Due: npm run fmt

👷 (#8)code qualityの追加
  .github/workflows/codeql.yml
Due: npm run fmt

🔧 Renovatebotの導入と設定
  renovate.json
Due: npm run fmt

👷 (#9) linter, Prettier, testのCIを設定した
  .github/workflows/linter.yml
  .github/workflows/prettier.yml
  .github/workflows/test.yml
Due: npm run fmt

🚑️ fix syntax
  .github/workflows/test.yml
Due: npm run fmt

👷 (#7)Lighthouse CIを導入した
  .eslintignore
  .github/workflows/lighthouse.yml
  lighthouserc.js
Due: npm run lint, npm run fmt

⚡️ yarnのキャッシュを追加した
  .github/workflows/chromatic.yml
  .github/workflows/linter.yml
  .github/workflows/prettier.yml
  .github/workflows/test.yml
Due: npm run fmt

🚑️ checkoutし忘れていたので修正
  .github/workflows/lighthouse.yml
Due: npm run fmt

🐛 Node.jsのimportバグを修正
  jest.setup.js
Due: npm run lint

🚑️ 静的ファイルの排出先を指定
  lighthouserc.js
Due: npm run lint

⚡️ checkoutするときにrefを参照するようにした
  .github/workflows/chromatic.yml
  .github/workflows/codeql.yml
  .github/workflows/linter.yml
  .github/workflows/prettier.yml
  .github/workflows/test.yml
Due: npm run fmt

⚡️ 拡張子を.mjsに変更した
  .storybook/preview.mjs
Due: none

🚨 syntax errorを直した
  .github/workflows/codeql.yml
Due: npm run fmt

🎨 format code
  lighthouserc.js
Due: npm run lint

👷 mainブランチへのPRでも動作するように設定した
  .github/workflows/codeql.yml
  .github/workflows/lighthouse.yml
Due: npm run fmt

Update devDependencies
  package.json
  pnpm-lock.yaml
Due: npm run fmt

Pin dependencies
  package.json
  yarn.lock
Due: npm run fmt

Update dependency next to v12.1.5
  package.json
  yarn.lock
Due: npm run fmt

Update devDependencies
  package.json
  yarn.lock
Due: npm run fmt

Update actions/checkout action to v3
  .github/workflows/chromatic.yml
  .github/workflows/codeql.yml
  .github/workflows/lighthouse.yml
  .github/workflows/linter.yml
  .github/workflows/prettier.yml
  .github/workflows/test.yml
Due: npm run fmt

Update Yarn to v3.2.1
  .yarn/releases/yarn-3.2.0.cjs
  .yarn/releases/yarn-3.2.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: npm run fmt

Update dependencies (non-major)
  package.json
  yarn.lock
Due: npm run fmt

✨ デザイントークン生成用のActionを追加
  .github/workflows/token.yml
  README.md
Due: npm run fmt

デザイントークン関連のセットアップドキュメントのリンクを追記
  README.md
Due: none

Update README.md
  README.md
Due: none

first commit
  data/tokens.json
Due: npm run fmt

cacheを持つように変更
  .github/workflows/token.yml
Due: npm run fmt

Path conditions:
  npm run lint: any of: *.{js,jsx,ts,tsx}
  npm run fmt: any of: *.{json,yml,yaml,toml}
