Repository suzuka-kosen-festa/2022-HP: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run fmt

chore: Update hamburger menu
  src/components/molecules/hamburger-menu/__snapshots__/hamburger-menu.test.tsx.snap
  src/components/molecules/hamburger-menu/hamburger-menu.test.tsx
  src/components/molecules/hamburger-menu/index.tsx
Due: npm run lint

chore: Update test format
  src/components/organisms/footer/footer.test.tsx
Due: npm run lint

feat: Create header
  src/components/organisms/header/__snapshots__/header.test.tsx.snap
  src/components/organisms/header/header.stories.tsx
  src/components/organisms/header/header.test.tsx
  src/components/organisms/header/index.tsx
  src/components/organisms/header/types/model.ts
Due: npm run lint

chore: Fix to position: fixed;
  src/components/organisms/header/__snapshots__/header.test.tsx.snap
  src/components/organisms/header/header.test.tsx
  src/components/organisms/header/index.tsx
Due: npm run lint

chore: Format code
  src/components/organisms/header/index.tsx
Due: npm run lint

feat: Create header (#295)
  .storybook/preview-body.html
  package.json
  public/statics/header-md.webp
  public/statics/header.webp
  src/components/atoms/portal/index.tsx
  src/components/atoms/portal/portal.stories.tsx
  src/components/atoms/portal/types/model.ts
  src/components/molecules/hamburger-menu/__snapshots__/hamburger-menu.test.tsx.snap
  src/components/molecules/hamburger-menu/hamburger-menu.stories.tsx
  src/components/molecules/hamburger-menu/hamburger-menu.test.tsx
  src/components/molecules/hamburger-menu/index.tsx
  src/components/molecules/hamburger-menu/types/model.ts
  src/components/organisms/header/__snapshots__/header.test.tsx.snap
  src/components/organisms/header/header.stories.tsx
  src/components/organisms/header/header.test.tsx
  src/components/organisms/header/index.tsx
  src/components/organisms/header/types/model.ts
  src/hooks/useClickAway/index.ts
  src/hooks/useDisclosure/index.ts
  src/hooks/useKeyPress/index.ts
  tailwind.config.js
  yarn.lock
Due: npm run lint, npm run fmt

feat: Add map.webp
  public/statics/map.webp
Due: none

chore: Update tailwind config
  tailwind.config.js
Due: npm run lint

feat: Create map section
  src/components/organisms/map-section/__snapshots__/map-section.test.tsx.snap
  src/components/organisms/map-section/index.tsx
  src/components/organisms/map-section/map-section.stories.tsx
  src/components/organisms/map-section/map-section.test.tsx
  src/components/organisms/map-section/types/model.ts
Due: npm run lint

chore: Update snapshot
  src/components/organisms/map-section/__snapshots__/map-section.test.tsx.snap
Due: none

chore: Format code
  src/components/organisms/map-section/index.tsx
  src/components/organisms/map-section/map-section.stories.tsx
  src/components/organisms/map-section/map-section.test.tsx
  src/components/organisms/map-section/types/model.ts
Due: npm run lint

feat: Create map section (#290)
  public/statics/map.webp
  src/components/organisms/map-section/__snapshots__/map-section.test.tsx.snap
  src/components/organisms/map-section/index.tsx
  src/components/organisms/map-section/map-section.stories.tsx
  src/components/organisms/map-section/map-section.test.tsx
  src/components/organisms/map-section/types/model.ts
  tailwind.config.js
Due: npm run lint

deps: Add intersection observer wrapper for react
  package.json
  yarn.lock
Due: npm run fmt

chore: Update header's type
  src/components/organisms/header/__snapshots__/header.test.tsx.snap
  src/components/organisms/header/index.tsx
  src/components/organisms/header/types/model.ts
Due: npm run lint

feat: Create layout
  src/app.tsx
  src/components/organisms/layout/__snapshots__/layout.test.tsx.snap
  src/components/organisms/layout/index.tsx
  src/components/organisms/layout/layout.stories.tsx
  src/components/organisms/layout/layout.test.tsx
  src/components/organisms/layout/types/model.ts
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
  src/components/templates/layout/index.tsx
  src/components/templates/layout/layout.stories.tsx
  src/models/index.ts
  src/models/layout.ts
Due: npm run lint

feat: Create layout (#298)
  package.json
  src/app.tsx
  src/components/organisms/header/__snapshots__/header.test.tsx.snap
  src/components/organisms/header/index.tsx
  src/components/organisms/header/types/model.ts
  src/components/organisms/layout/__snapshots__/layout.test.tsx.snap
  src/components/organisms/layout/index.tsx
  src/components/organisms/layout/layout.stories.tsx
  src/components/organisms/layout/layout.test.tsx
  src/components/organisms/layout/types/model.ts
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
  src/components/templates/layout/index.tsx
  src/components/templates/layout/layout.stories.tsx
  src/models/index.ts
  src/models/layout.ts
  tailwind.config.js
  yarn.lock
Due: npm run lint, npm run fmt

feat: Create top page template
  src/components/templates/top/__snapshots__/top.test.tsx.snap
  src/components/templates/top/index.tsx
  src/components/templates/top/top.stories.tsx
  src/components/templates/top/top.test.tsx
  src/components/templates/top/types/model.ts
Due: npm run lint

chore: Update models
  src/components/organisms/sns-section/types/model.ts
  src/components/organisms/ticket-section/type/model.ts
Due: npm run lint

chore: Fix layout padding
  src/components/organisms/layout/index.tsx
Due: npm run lint

feat: Create top page
  src/pages/index.ts
  src/pages/main.tsx
  src/pages/top.tsx
  src/routes.tsx
Due: npm run lint

chore: Add todo
  src/pages/top.tsx
Due: npm run lint

chore: Update header
  src/components/organisms/header/__snapshots__/header.test.tsx.snap
  src/components/organisms/header/index.tsx
  src/components/organisms/layout/__snapshots__/layout.test.tsx.snap
  src/pages/index.ts
  src/pages/top.tsx
Due: npm run lint

wip!: It is test deploy
  src/components/templates/top/index.tsx
  src/pages/top.tsx
Due: npm run lint

chore: Update access section
  src/components/organisms/access-section/__snapshots__/access-section.test.tsx.snap
  src/components/organisms/access-section/index.tsx
  src/components/templates/top/__snapshots__/top.test.tsx.snap
Due: npm run lint

chore: Fix button padding
  src/components/atoms/button/__snapshots__/button.test.tsx.snap
  src/components/atoms/button/index.tsx
  src/components/organisms/about-section/__snapshots__/about-section.test.tsx.snap
  src/components/organisms/bazaar-section/__snapshots__/bazaar-section.test.tsx.snap
  src/components/organisms/contact-section/__snapshots__/contact-section.test.tsx.snap
  src/components/organisms/festa-section/__snapshots__/festa-section.test.tsx.snap
  src/components/organisms/pickup-section/__snapshots__/pickup-section.test.tsx.snap
  src/components/organisms/sponsor-section/__snapshots__/sponsor-section.test.tsx.snap
  src/components/organisms/ticket-section/__snapshots__/ticket-section.test.tsx.snap
  src/components/templates/top/__snapshots__/top.test.tsx.snap
Due: npm run lint

chore: Remove pick up events
  src/components/templates/top/index.tsx
  src/pages/top.tsx
Due: npm run lint

feat: Create status message section and not found page
  src/components/organisms/status-message-section/__snapshots__/status-message-section.test.tsx.snap
  src/components/organisms/status-message-section/index.tsx
  src/components/organisms/status-message-section/status-message-section.stories.tsx
  src/components/organisms/status-message-section/status-message-section.test.tsx
  src/components/organisms/status-message-section/types/model.ts
  src/components/templates/not-found/__snapshots__/not-found.test.tsx.snap
  src/components/templates/not-found/index.tsx
  src/components/templates/not-found/not-found.stories.tsx
  src/components/templates/not-found/not-found.test.tsx
  src/components/templates/not-found/types/model.ts
  src/pages/index.ts
  src/pages/not-found.tsx
  src/routes.tsx
Due: npm run lint

feat: Update to coming soon page
  src/components/templates/top/index.tsx
  src/pages/coming-soon.tsx
  src/pages/index.ts
  src/routes.tsx
Due: npm run lint

chore: Update caution text
  src/components/organisms/bazaar-section/types/model.ts
  src/components/organisms/layout/__snapshots__/layout.test.tsx.snap
  src/components/templates/top/__snapshots__/top.test.tsx.snap
  src/components/templates/top/index.tsx
Due: npm run lint

fix: Fix header
  src/components/molecules/hamburger-menu/index.tsx
  src/components/organisms/bazaar-section/types/model.ts
  src/components/organisms/header/__snapshots__/header.test.tsx.snap
  src/components/organisms/header/index.tsx
  src/components/organisms/layout/index.tsx
  tailwind.config.js
Due: npm run lint

fix: Fix unknown bug in header
  src/components/organisms/header/__snapshots__/header.test.tsx.snap
  src/components/organisms/header/index.tsx
  src/components/organisms/layout/__snapshots__/layout.test.tsx.snap
Due: npm run lint

fix: What a hell fucking poop bug
  src/components/organisms/header/__snapshots__/header.test.tsx.snap
  src/components/organisms/header/index.tsx
  src/components/organisms/layout/__snapshots__/layout.test.tsx.snap
Due: npm run lint

chore: Format code
  src/components/organisms/header/__snapshots__/header.test.tsx.snap
  src/components/organisms/header/index.tsx
  src/components/organisms/layout/__snapshots__/layout.test.tsx.snap
Due: npm run lint

feat: Update seo assets
  public/seo/README.md
  public/seo/android-chrome-192x192.png
  public/seo/android-chrome-512x512.png
  public/seo/apple-touch-icon-114x114-precomposed.png
  public/seo/apple-touch-icon-114x114.png
  public/seo/apple-touch-icon-120x120-precomposed.png
  public/seo/apple-touch-icon-120x120.png
  public/seo/apple-touch-icon-144x144-precomposed.png
  public/seo/apple-touch-icon-144x144.png
  public/seo/apple-touch-icon-152x152-precomposed.png
  public/seo/apple-touch-icon-152x152.png
  public/seo/apple-touch-icon-180x180-precomposed.png
  public/seo/apple-touch-icon-180x180.png
  public/seo/apple-touch-icon-57x57-precomposed.png
  public/seo/apple-touch-icon-57x57.png
  public/seo/apple-touch-icon-60x60-precomposed.png
  public/seo/apple-touch-icon-60x60.png
  public/seo/apple-touch-icon-72x72-precomposed.png
  public/seo/apple-touch-icon-72x72.png
  public/seo/apple-touch-icon-76x76-precomposed.png
  public/seo/apple-touch-icon-76x76.png
  public/seo/apple-touch-icon-precomposed.png
  public/seo/browserconfig.xml
  public/seo/favicon-16x16.png
  public/seo/favicon-32x32.png
  public/seo/favicon.ico
  public/seo/manifest.json
  public/seo/mstile-150x150.png
  public/seo/ogp.png
  public/seo/safari-pinned-tab.svg
  src/index.html
  vite.config.ts
Due: npm run lint, npm run fmt

chore: Format code
  public/seo/README.md
  vite.config.ts
Due: npm run lint

chore: Update description about this site
  src/index.html
  vite.config.ts
Due: npm run lint

feat: Update to v2.0.0-rc
  package.json
Due: npm run fmt

chore: Update description about this site (#303)
  package.json
  src/index.html
  vite.config.ts
Due: npm run lint, npm run fmt

Path conditions:
  npm run lint: any of: *.{js,jsx,ts,tsx}
  npm run fmt: any of: *.{json,yml,yaml,toml}
