Repository suzuka-kosen-festa/2022-HP: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run fmt

🚚 テストの位置を移動させた
  src/utils/api.test.ts
Due: npm run lint

🔥 ファイルを削除した
  src/tests/pages/__snapshots__/index.test.tsx.snap
  src/tests/pages/index.test.tsx
  vitest.config.ts
  vitest.setup.ts
Due: npm run lint

✨ 冗長な表現を省略
  .babelrc.js
Due: npm run lint

✨ Storybookの設定を変更した
  .storybook/main.js
  .storybook/preview.js
Due: npm run lint

➕ jestを追加しvitestを削除した
  package.json
  yarn.lock
Due: npm run fmt

🔥 vitestのglobal typeを削除した
  tsconfig.json
Due: npm run fmt

✨ test用のtest、storiesを変更した
  src/components/atoms/text/__snapshots__/text.test.tsx.snap
  src/components/atoms/text/text.stories.tsx
  src/components/atoms/text/text.test.tsx
Due: npm run lint

🔧 jest用のconfigを作成した
  jest.config.js
  jest.setup.js
Due: npm run lint

🤖 auto-fixable format by github-actions
  .storybook/preview.js
  jest.config.js
  src/components/atoms/text/text.stories.tsx
  src/components/atoms/text/text.test.tsx
  tsconfig.json
Due: npm run lint, npm run fmt

🚚 rename test section
  src/components/atoms/text/text.test.tsx
Due: npm run lint

📸 update snapshot
  src/components/atoms/text/__snapshots__/text.test.tsx.snap
Due: none

🚑️ fix lock file
  yarn.lock
Due: none

Update: yarn.lockを更新
  yarn.lock
Due: none

Add: footer用ファイルを生成した
  src/components/organisms/footer/index.tsx
Due: npm run lint

Update: Text&footerタグを適用
  src/components/organisms/footer/index.tsx
Due: npm run lint

Update: コンポーネントをexport
  src/components/organisms/footer/index.tsx
Due: npm run lint

Update: 不要だったので外した
  src/components/organisms/footer/index.tsx
Due: npm run lint

Update: 余白の追加 #60
  src/components/organisms/footer/index.tsx
Due: npm run lint

✨ Atomic Desingに則したコードになっているかをテストするマッチャーを作成
  src/tests/jest.custom-matchers.test.tsx
  src/tests/jest.custom-matchers.ts
Due: npm run lint

➕ @babel/preset-envを追加した。
  package.json
  yarn.lock
Due: npm run fmt

🚑️ .babelrc.jsの名前をbabel.config.jsに変更し、それに合わせてjest.config.jsの内容を変更した
  babel.config.js
  jest.config.js
Due: npm run lint

✨ Atomic Designに沿った実装かをチェックするマッチャーの適用
  jest.config.js
  src/components/atoms/text/__snapshots__/text.test.tsx.snap
  src/components/atoms/text/index.tsx
  src/components/atoms/text/text.test.tsx
Due: npm run lint

🤖 auto-fixable format by github-actions
  src/components/atoms/text/text.test.tsx
Due: npm run lint

🚚 ディレクトリの階層を変更した
  src/utils/api/api.test.ts
  src/utils/api/index.ts
Due: npm run lint

[figma] first site tokens
  data/tokens.json
Due: npm run fmt

🚑️ 落ちていたCIを修正
  .github/workflows/token.yml
  package.json
Due: npm run fmt

generate scss by style-dictionary
  src/styles/_variables.json
Due: npm run fmt

👷 CIを修正
  .github/workflows/token.yml
Due: npm run fmt

🤖 auto-fixable format by github-actions
  data/tokens.json
  src/styles/_variables.json
Due: npm run fmt

💩 修正漏れを治した
  .github/workflows/prettier.yml
Due: npm run fmt

[skip ci] generate json by style-dictionary
  src/styles/_variables.json
Due: npm run fmt

🚑️ NextJSが12.2.3にあがったことによる、ESLintのルールが変わったためそれに対応する修正
  jest.config.js
  src/@types/twin.d.ts
  src/@types/yaml.d.ts
Due: npm run lint

fix: fix test message
  .github/workflows/test.yml
Due: npm run fmt

Merge pull request #100 from suzuka-kosen-festa/renovate/dependencies (#103)
  .github/workflows/test.yml
  .yarn/releases/yarn-3.2.1.cjs
  .yarn/releases/yarn-3.2.2.cjs
  .yarnrc.yml
  data/tokens.json
  jest.config.js
  package.json
  src/@types/twin.d.ts
  src/@types/yaml.d.ts
  src/styles/_variables.json
  yarn.lock
Due: npm run lint, npm run fmt

🏷️ buttonコンポーネントを<button />以外で使用できるようにする
  src/@types/common.d.ts
Due: npm run lint

🏷️ ButtonPropertiesの追加
  src/models/type.ts
Due: npm run lint

✨ Tailwindに初期サイトのトークンを読み込ませる
  tailwind.config.js
Due: npm run lint

🚧 wip
  src/components/atoms/button/index.tsx
Due: npm run lint

🚧 wip
  src/styles/global.ts
Due: npm run lint

✨ webフォントの追加及び最適化
  public/fonts/OFL.txt
  public/fonts/ZenKurenaido.eot
  public/fonts/ZenKurenaido.ttf
  public/fonts/ZenKurenaido.woff
  public/fonts/ZenKurenaido.woff2
Due: none

Path conditions:
  npm run lint: any of: *.{js,jsx,ts,tsx}
  npm run fmt: any of: *.{json,yml,yaml,toml}
