Repository suzuka-kosen-festa/2022-HP: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run fmt

Update: 汚染を破壊
  src/components/organisms/sponsor-section/index.tsx
Due: npm run lint

Update: テストの追加
  src/components/organisms/sponsor-section/sponsor-section.test.tsx
Due: npm run lint

Fix: テストの内容を修正
  src/components/organisms/sponsor-section/sponsor-section.test.tsx
Due: npm run lint

Update: snapshotの更新
  src/components/organisms/sponsor-section/__snapshots__/sponsor-section.test.tsx.snap
Due: none

Update: 整形
  src/components/organisms/sponsor-section/index.tsx
Due: npm run lint

協賛企業セクションの実装 (#149)
  src/components/organisms/sponsor-section/__snapshots__/sponsor-section.test.tsx.snap
  src/components/organisms/sponsor-section/index.tsx
  src/components/organisms/sponsor-section/sponsor-section.stories.tsx
  src/components/organisms/sponsor-section/sponsor-section.test.tsx
  src/models/index.ts
Due: npm run lint

✨ space-yを指定
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
  src/components/templates/layout/index.tsx
Due: npm run lint

Add: next-pwaを導入
  package.json
  yarn.lock
Due: npm run fmt

Update: PWA用の設定を追加
  next.config.js
Due: npm run lint

Update: issueの解決されているversionを使う
  package.json
  yarn.lock
Due: npm run fmt

Update: ignoreの更新
  .gitignore
Due: none

Fix: next-pwaのバージョンを下げた
  package.json
  yarn.lock
Due: npm run fmt

Create: manifestを生やした
  public/manifest.json
Due: npm run fmt

Update: Headの中身を戻した
  src/pages/_document.tsx
Due: npm run lint

Remove: manifestを統一
  public/seo/site.webmanifest
Due: none

Update: manifest変更に伴いパスの変更
  src/utils/seo/index.tsx
Due: npm run lint

Update: snapshotの更新
  src/utils/seo/__snapshots__/seo.test.tsx.snap
Due: none

Update: manifestをseoに戻した
  public/seo/manifest.json
Due: npm run fmt

Update: manifestのパスを変更
  src/utils/seo/index.tsx
Due: npm run lint

Update: manifestは読み込まれたので消した
  src/pages/_document.tsx
Due: npm run lint

Update: 重複しているmetaの削除
  src/utils/seo/index.tsx
Due: npm run lint

PWA対応 (#152)
  .gitignore
  next.config.js
  package.json
  public/seo/manifest.json
  src/pages/_document.tsx
  src/utils/seo/__snapshots__/seo.test.tsx.snap
  src/utils/seo/index.tsx
  yarn.lock
Due: npm run lint, npm run fmt

Twitterコンポーネントのレスポンシブ化及びFCPの改善
  src/components/molecules/twitter/__snapshots__/twitter.test.tsx.snap
  src/components/molecules/twitter/index.tsx
  src/components/organisms/sns-section/__snapshots__/sns-section.test.tsx.snap
Due: npm run lint

✨ β版のUIの作成
  src/pages/index.tsx
Due: npm run lint

👷 chromaticへの登録をstoriesの変更ではなくcomponents自体の変更時に発火させるようにした
  .github/workflows/chromatic.yml
Due: npm run fmt

✨ anchor textを統一した
  src/components/molecules/twitter/__snapshots__/twitter.test.tsx.snap
  src/components/molecules/twitter/index.tsx
  src/components/organisms/sns-section/__snapshots__/sns-section.test.tsx.snap
Due: npm run lint

✨ 余分なwidth: screenを消去した
  src/components/organisms/footer/__snapshots__/footer.test.tsx.snap
  src/components/organisms/footer/index.tsx
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
Due: npm run lint

[skip ci] auto-fixable format by github-actions
  src/components/molecules/twitter/index.tsx
Due: npm run lint

✨ URLを更新した
  src/pages/index.tsx
Due: npm run lint

⚡️ 整形
  src/pages/index.tsx
Due: npm run lint

β版のUIの作成 (#153)
  .github/workflows/chromatic.yml
  src/components/molecules/twitter/__snapshots__/twitter.test.tsx.snap
  src/components/molecules/twitter/index.tsx
  src/components/organisms/footer/__snapshots__/footer.test.tsx.snap
  src/components/organisms/footer/index.tsx
  src/components/organisms/sns-section/__snapshots__/sns-section.test.tsx.snap
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
  src/components/templates/layout/index.tsx
  src/pages/index.tsx
Due: npm run lint, npm run fmt

🔧 buildコマンドを更新した
  package.json
Due: npm run fmt

🔧 buildコマンドを更新した (#159)
  package.json
Due: npm run fmt

✨ 鈴鹿高専へのアクセスの欄のテキストの修正
  src/pages/index.tsx
Due: npm run lint

update: add babel dependence
  babel.config.js
  package.json
  yarn.lock
Due: npm run lint, npm run fmt

[skip ci] auto-fixable format by github-actions
  babel.config.js
Due: npm run lint

Path conditions:
  npm run lint: any of: *.{js,jsx,ts,tsx}
  npm run fmt: any of: *.{json,yml,yaml,toml}
