Repository suzuka-kosen-festa/2022-HP: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run fmt

chore: Add hero section logo's padding
  tailwind.config.js
Due: npm run lint

chore: Fix image
  public/statics/back.webp
Due: none

chore: コードを整形
  src/components/organisms/hero-section/index.tsx
  tailwind.config.js
Due: npm run lint

ci: Fix format ci to checking correct format
  .github/workflows/prettier.yml
  .github/workflows/test.yml
  package.json
Due: npm run fmt

feat: Update hero section (#264)
  .github/workflows/prettier.yml
  .github/workflows/test.yml
  package.json
  public/statics/back.webp
  public/statics/gogo.webp
  public/statics/logo.png
  public/statics/logo.webp
  src/components/organisms/hero-section/__snapshots__/hero-section.test.tsx.snap
  src/components/organisms/hero-section/hero-section.test.tsx
  src/components/organisms/hero-section/index.tsx
  src/components/organisms/hero-section/types/model.ts
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
  src/models/hero-section.ts
  src/models/index.ts
  tailwind.config.js
Due: npm run lint, npm run fmt

deps: Add dayjs
  package.json
  yarn.lock
Due: npm run fmt

chore: Update eslint rule
  .eslintrc.yml
Due: npm run fmt

chore: Customize tailwind
  tailwind.config.js
Due: npm run lint

chore: Update template
  .hygen/new/fc/Component.model.ts.ejs.t
  .hygen/new/fc/Component.tsx.ejs.t
Due: none

chore: Update models
  src/components/molecules/caution/types/model.ts
  src/components/organisms/sns-section/types/model.ts
  src/components/organisms/ticket-section/type/model.ts
Due: npm run lint

feat: Create pickup event card
  src/components/molecules/pickup-card/__snapshots__/pickup-card.test.tsx.snap
  src/components/molecules/pickup-card/index.tsx
  src/components/molecules/pickup-card/pickup-card.stories.tsx
  src/components/molecules/pickup-card/pickup-card.test.tsx
  src/components/molecules/pickup-card/types/model.ts
Due: npm run lint

chore: コードを整形
  src/components/molecules/pickup-card/index.tsx
  src/components/molecules/pickup-card/pickup-card.stories.tsx
Due: npm run lint

fix: Fix bloken lock file
  yarn.lock
Due: none

feat: Create pick up event section
  src/components/organisms/pickup-section/__snapshots__/pickup-section.test.tsx.snap
  src/components/organisms/pickup-section/index.tsx
  src/components/organisms/pickup-section/pickup-section.stories.tsx
  src/components/organisms/pickup-section/pickup-section.test.tsx
  src/components/organisms/pickup-section/types/model.ts
Due: npm run lint

chore: コードを整形
  src/components/organisms/pickup-section/index.tsx
  src/components/organisms/pickup-section/pickup-section.stories.tsx
  src/components/organisms/pickup-section/pickup-section.test.tsx
  src/components/organisms/pickup-section/types/model.ts
Due: npm run lint

feat: Create pickup section (#271)
  .eslintrc.yml
  .hygen/new/fc/Component.model.ts.ejs.t
  .hygen/new/fc/Component.tsx.ejs.t
  package.json
  src/components/molecules/caution/types/model.ts
  src/components/molecules/pickup-card/__snapshots__/pickup-card.test.tsx.snap
  src/components/molecules/pickup-card/index.tsx
  src/components/molecules/pickup-card/pickup-card.stories.tsx
  src/components/molecules/pickup-card/pickup-card.test.tsx
  src/components/molecules/pickup-card/types/model.ts
  src/components/organisms/pickup-section/__snapshots__/pickup-section.test.tsx.snap
  src/components/organisms/pickup-section/index.tsx
  src/components/organisms/pickup-section/pickup-section.stories.tsx
  src/components/organisms/pickup-section/pickup-section.test.tsx
  src/components/organisms/pickup-section/types/model.ts
  src/components/organisms/sns-section/types/model.ts
  src/components/organisms/ticket-section/type/model.ts
  tailwind.config.js
  yarn.lock
Due: npm run lint, npm run fmt

feat: Update access section
  public/statics/parking.webp
  src/components/organisms/access-section/__snapshots__/access-section.test.tsx.snap
  src/components/organisms/access-section/access-section.stories.tsx
  src/components/organisms/access-section/index.tsx
  src/components/organisms/access-section/types/model.ts
  src/components/organisms/hero-section/__snapshots__/hero-section.test.tsx.snap
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
Due: npm run lint

chore: Update snap shot
  src/components/organisms/hero-section/__snapshots__/hero-section.test.tsx.snap
  src/components/organisms/hero-section/index.tsx
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
Due: npm run lint

chore: Reset main page
  src/pages/main.tsx
Due: npm run lint

chore: Update snap shot
  src/components/organisms/access-section/__snapshots__/access-section.test.tsx.snap
Due: none

chore: Fix padding between map and sentence
  src/components/organisms/access-section/__snapshots__/access-section.test.tsx.snap
  src/components/organisms/access-section/index.tsx
Due: npm run lint

chore: Update stories
  src/components/organisms/access-section/access-section.stories.tsx
Due: npm run lint

chore: Update snapshot
  src/components/organisms/access-section/__snapshots__/access-section.test.tsx.snap
Due: none

feat: Update access section (#285)
  public/statics/parking.webp
  src/components/organisms/access-section/__snapshots__/access-section.test.tsx.snap
  src/components/organisms/access-section/access-section.stories.tsx
  src/components/organisms/access-section/index.tsx
  src/components/organisms/access-section/types/model.ts
  src/components/organisms/hero-section/__snapshots__/hero-section.test.tsx.snap
  src/components/organisms/hero-section/index.tsx
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
  src/pages/main.tsx
Due: npm run lint

chore: Update caution properties
  src/components/molecules/caution/index.tsx
  src/components/molecules/caution/types/model.ts
Due: npm run lint

feat: Create bazaar section
  src/components/organisms/bazaar-section/bazaar-section.stories.tsx
  src/components/organisms/bazaar-section/bazaar-section.test.tsx
  src/components/organisms/bazaar-section/index.tsx
  src/components/organisms/bazaar-section/types/model.ts
Due: npm run lint

chore: Format code
  src/components/molecules/caution/types/model.ts
  src/components/organisms/bazaar-section/bazaar-section.stories.tsx
  src/components/organisms/bazaar-section/index.tsx
  src/components/organisms/bazaar-section/types/model.ts
Due: npm run lint

chore: Add snap shot
  src/components/organisms/bazaar-section/__snapshots__/bazaar-section.test.tsx.snap
Due: none

chore: Update tewst case
  src/components/organisms/bazaar-section/bazaar-section.test.tsx
Due: npm run lint

feat: Create bazaar section (#287)
  src/components/molecules/caution/index.tsx
  src/components/molecules/caution/types/model.ts
  src/components/organisms/bazaar-section/__snapshots__/bazaar-section.test.tsx.snap
  src/components/organisms/bazaar-section/bazaar-section.stories.tsx
  src/components/organisms/bazaar-section/bazaar-section.test.tsx
  src/components/organisms/bazaar-section/index.tsx
  src/components/organisms/bazaar-section/types/model.ts
Due: npm run lint

chore: Update festa section
  src/components/organisms/festa-section/__snapshots__/festa-section.test.tsx.snap
  src/components/organisms/festa-section/festa-section.stories.tsx
  src/components/organisms/festa-section/index.tsx
  src/components/organisms/festa-section/types/model.ts
Due: npm run lint

chore: Update festa section (#292)
  src/components/organisms/festa-section/__snapshots__/festa-section.test.tsx.snap
  src/components/organisms/festa-section/festa-section.stories.tsx
  src/components/organisms/festa-section/index.tsx
  src/components/organisms/festa-section/types/model.ts
Due: npm run lint

feat: Create some custom hooks
  src/hooks/useClickAway/index.ts
  src/hooks/useDisclosure/index.ts
  src/hooks/useKeyPress/index.ts
Due: npm run lint

feat: Create portal wrapper
  .storybook/preview-body.html
  src/components/atoms/portal/index.tsx
  src/components/atoms/portal/portal.stories.tsx
  src/components/atoms/portal/types/model.ts
Due: npm run lint

deps: Add popperjs and react custom hooks for popperjs
  package.json
  yarn.lock
Due: npm run fmt

feat: Create hamburger menu
  src/components/molecules/hamburger-menu/__snapshots__/hamburger-menu.test.tsx.snap
  src/components/molecules/hamburger-menu/hamburger-menu.stories.tsx
  src/components/molecules/hamburger-menu/hamburger-menu.test.tsx
  src/components/molecules/hamburger-menu/index.tsx
  src/components/molecules/hamburger-menu/types/model.ts
Due: npm run lint

chore: Format code
  src/components/molecules/hamburger-menu/hamburger-menu.stories.tsx
  src/components/molecules/hamburger-menu/hamburger-menu.test.tsx
  src/components/molecules/hamburger-menu/index.tsx
Due: npm run lint

chore: Update props type name
  src/components/molecules/hamburger-menu/hamburger-menu.stories.tsx
  src/components/molecules/hamburger-menu/types/model.ts
Due: npm run lint

chore: Update tailwind config
  tailwind.config.js
Due: npm run lint

feat: Add some assets for header
  public/statics/header-md.webp
  public/statics/header.webp
Due: none

Path conditions:
  npm run lint: any of: *.{js,jsx,ts,tsx}
  npm run fmt: any of: *.{json,yml,yaml,toml}
