Repository suzuka-kosen-festa/2022-HP: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run fmt

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx}': npm run lint
'*.{json,yml,yaml,toml}': npm run fmt

✨ webフォントの追加及び最適化 (#104)
  public/fonts/OFL.txt
  public/fonts/ZenKurenaido.eot
  public/fonts/ZenKurenaido.ttf
  public/fonts/ZenKurenaido.woff
  public/fonts/ZenKurenaido.woff2
Due: none

✨ webフォントの追加及び最適化 (#104) (#106)
  public/fonts/OFL.txt
  public/fonts/ZenKurenaido.eot
  public/fonts/ZenKurenaido.ttf
  public/fonts/ZenKurenaido.woff
  public/fonts/ZenKurenaido.woff2
Due: none

🔥 定数を置いておくファイルの削除
  src/models/constant.ts
Due: npm run lint

➕ ts-patternの追加
  package.json
  yarn.lock
Due: npm run fmt

♻️ 汚いAPIの実装を修正
  src/models/type.ts
  src/utils/api/api.test.ts
  src/utils/api/index.ts
Due: npm run lint

[skip ci] auto-fixable format by github-actions
  src/models/type.ts
  src/utils/api/index.ts
Due: npm run lint

📌 バージョンを固定する
  package.json
  yarn.lock
Due: npm run fmt

APIのリファクタリング (#107)
  package.json
  src/models/constant.ts
  src/models/type.ts
  src/utils/api/api.test.ts
  src/utils/api/index.ts
  yarn.lock
Due: npm run lint, npm run fmt

APIのリファクタリング (#107) (#108)
  package.json
  src/models/constant.ts
  src/models/type.ts
  src/utils/api/api.test.ts
  src/utils/api/index.ts
  yarn.lock
Due: npm run lint, npm run fmt

🔍️ langを日本語に変更した
  src/pages/_document.tsx
Due: npm run lint

➕ Storybook似必要な依存を追加した
  package.json
  yarn.lock
Due: npm run fmt

✨ フォントをtwin.macroで読み込める形で追加した
  src/styles/global.ts
  src/styles/global.tsx
  tailwind.config.js
Due: npm run lint

✨ Storybookの設定を変更した
  .storybook/main.js
  .storybook/preview.js
Due: npm run lint

✨ 設定したフォントや、twin.macroようにチューニングされたreset cssを読み込ますようにした
  src/pages/_app.tsx
Due: npm run lint

✨ typographyコンポーネントを作成した
  src/components/atoms/text/index.tsx
Due: npm run lint

🩹 storiesに値の変更はいらないと感じたので削除した
  src/components/atoms/text/text.stories.tsx
Due: npm run lint

📸 スナップショットの更新
  src/components/atoms/text/__snapshots__/text.test.tsx.snap
Due: none

♻️ 型定義の修正が漏れていたため修正
  src/@types/yaml.d.ts
Due: npm run lint

🚚 ファイル名を変更した
  src/models/index.ts
  src/utils/api/api.test.ts
  src/utils/api/index.ts
Due: npm run lint

✨ レイアウトコンポーネントの追加
  src/components/templates/.gitkeep
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
  src/components/templates/layout/index.tsx
  src/components/templates/layout/layout.stories.tsx
  src/components/templates/layout/layout.test.tsx
  tailwind.config.js
Due: npm run lint

[skip ci] auto-fixable format by github-actions
  src/components/templates/layout/layout.stories.tsx
  src/components/templates/layout/layout.test.tsx
Due: npm run lint

♿️ roleを追加した
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
  src/components/templates/layout/index.tsx
Due: npm run lint

レイアウトコンポーネントの追加 (#111)
  src/@types/yaml.d.ts
  src/components/templates/.gitkeep
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
  src/components/templates/layout/index.tsx
  src/components/templates/layout/layout.stories.tsx
  src/components/templates/layout/layout.test.tsx
  src/models/index.ts
  src/utils/api/api.test.ts
  src/utils/api/index.ts
  tailwind.config.js
Due: npm run lint

🚑️ コンフリクトの修正
  src/@types/yaml.d.ts
  src/models/index.ts
  src/utils/api/api.test.ts
  src/utils/api/index.ts
  tailwind.config.js
Due: npm run lint

レイアウトコンポーネントの追加 (#111) (#112)
  src/@types/yaml.d.ts
  src/components/templates/.gitkeep
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
  src/components/templates/layout/index.tsx
  src/components/templates/layout/layout.stories.tsx
  src/components/templates/layout/layout.test.tsx
  src/models/index.ts
Due: npm run lint

✨ レイアウトコンポーネントを読み込ませる
  .storybook/preview.js
  src/pages/_app.tsx
Due: npm run lint

✅ テストコードを更新した
  src/components/atoms/text/__snapshots__/text.test.tsx.snap
  src/components/atoms/text/text.stories.tsx
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
Due: npm run lint

fix: fix test message
  src/components/atoms/text/text.stories.tsx
Due: npm run lint

🔧 Storybookの設定を変えた
  .storybook/main.js
  .storybook/preview.js
Due: npm run lint

📸 snapshotの更新
  src/components/atoms/text/__snapshots__/text.test.tsx.snap
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
Due: none

⚡️ 整形
  .storybook/main.js
Due: npm run lint

fix: fix test message (#115)
  .storybook/main.js
  .storybook/preview.js
  src/components/atoms/text/__snapshots__/text.test.tsx.snap
  src/components/atoms/text/text.stories.tsx
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
Due: npm run lint

Merge branch 'feature/#63' into dev (#118)
  .storybook/main.js
  .storybook/preview.js
  package.json
  public/fonts/OFL.txt
  public/fonts/ZenKurenaido.eot
  public/fonts/ZenKurenaido.ttf
  public/fonts/ZenKurenaido.woff
  public/fonts/ZenKurenaido.woff2
  src/@types/yaml.d.ts
  src/components/atoms/text/__snapshots__/text.test.tsx.snap
  src/components/atoms/text/index.tsx
  src/components/atoms/text/text.stories.tsx
  src/components/templates/.gitkeep
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
  src/components/templates/layout/index.tsx
  src/components/templates/layout/layout.stories.tsx
  src/components/templates/layout/layout.test.tsx
  src/models/constant.ts
  src/models/index.ts
  src/models/type.ts
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/styles/global.tsx
  src/utils/api/api.test.ts
  src/utils/api/index.ts
  tailwind.config.js
  yarn.lock
Due: npm run lint, npm run fmt

🔧 tailwindの設定を変更した
  tailwind.config.js
Due: npm run lint

🏷️ buttonコンポーネントのモデルを作成
  src/models/index.ts
  src/models/type.ts
Due: npm run lint

✨ design tokenに対応したスタイルに変更した
  src/components/templates/layout/index.tsx
Due: npm run lint

✨ contextの修正
  src/components/atoms/text/text.test.tsx
  src/components/templates/layout/layout.test.tsx
Due: npm run lint

✨ buttonコンポーネントを実装
  src/components/atoms/button/index.tsx
Due: npm run lint

✨ storiesの追加
  src/components/atoms/button/button.stories.tsx
Due: npm run lint
