Repository suzuka-kosen-festa/2022-HP: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run fmt

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx}': npm run lint
'*.{json,yml,yaml,toml}': npm run fmt

feat: Add Zen KakuGothic New
  public/fonts/OFL.txt
  public/fonts/ZenKakuGothicNew.eot
  public/fonts/ZenKakuGothicNew.ttf
  public/fonts/ZenKakuGothicNew.woff
  public/fonts/ZenKakuGothicNew.woff2
  public/fonts/ZenKurenaido.eot
  public/fonts/ZenKurenaido.ttf
  public/fonts/ZenKurenaido.woff
  public/fonts/ZenKurenaido.woff2
Due: none

chore: Fix tailwind config for Zen KakuGothic New
  src/styles/global.tsx
  tailwind.config.js
Due: npm run lint

chore: Update snapshot
  src/components/atoms/anchor-text/__snapshots__/anchor-text.test.tsx.snap
  src/components/atoms/button/__snapshots__/button.test.tsx.snap
  src/components/atoms/heading/__snapshots__/heading.test.tsx.snap
  src/components/atoms/text/__snapshots__/text.test.tsx.snap
  src/components/molecules/twitter/__snapshots__/twitter.test.tsx.snap
  src/components/organisms/about-section/__snapshots__/about-section.test.tsx.snap
  src/components/organisms/contact-section/__snapshots__/contact-section.test.tsx.snap
  src/components/organisms/festa-section/__snapshots__/festa-section.test.tsx.snap
  src/components/organisms/footer/__snapshots__/footer.test.tsx.snap
  src/components/organisms/hero-section/__snapshots__/hero-section.test.tsx.snap
  src/components/organisms/map-section/__snapshots__/map-section.test.tsx.snap
  src/components/organisms/sns-section/__snapshots__/sns-section.test.tsx.snap
  src/components/organisms/sponsor-section/__snapshots__/sponsor-section.test.tsx.snap
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
Due: none

feat: Add Zen KakuGothic New (#222)
  public/fonts/OFL.txt
  public/fonts/ZenKakuGothicNew.eot
  public/fonts/ZenKakuGothicNew.ttf
  public/fonts/ZenKakuGothicNew.woff
  public/fonts/ZenKakuGothicNew.woff2
  public/fonts/ZenKurenaido.eot
  public/fonts/ZenKurenaido.ttf
  public/fonts/ZenKurenaido.woff
  public/fonts/ZenKurenaido.woff2
  src/components/atoms/anchor-text/__snapshots__/anchor-text.test.tsx.snap
  src/components/atoms/button/__snapshots__/button.test.tsx.snap
  src/components/atoms/heading/__snapshots__/heading.test.tsx.snap
  src/components/atoms/text/__snapshots__/text.test.tsx.snap
  src/components/molecules/twitter/__snapshots__/twitter.test.tsx.snap
  src/components/organisms/about-section/__snapshots__/about-section.test.tsx.snap
  src/components/organisms/contact-section/__snapshots__/contact-section.test.tsx.snap
  src/components/organisms/festa-section/__snapshots__/festa-section.test.tsx.snap
  src/components/organisms/footer/__snapshots__/footer.test.tsx.snap
  src/components/organisms/hero-section/__snapshots__/hero-section.test.tsx.snap
  src/components/organisms/map-section/__snapshots__/map-section.test.tsx.snap
  src/components/organisms/sns-section/__snapshots__/sns-section.test.tsx.snap
  src/components/organisms/sponsor-section/__snapshots__/sponsor-section.test.tsx.snap
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
  src/styles/global.tsx
  tailwind.config.js
Due: npm run lint

feat: Add robots.txt
  public/robots.txt
Due: none

feat: Add robots.txt (#224)
  public/robots.txt
Due: none

chore: Fix caching in app.tsx
  package.json
  src/app.tsx
  yarn.lock
Due: npm run lint, npm run fmt

chore: Update ESLint rule
  .eslintrc.yml
Due: npm run fmt

chore: Update Storybook background color
  .storybook/preview.jsx
Due: npm run lint

fix: Fix CI
  src/components/atoms/heading/type/model.ts
Due: npm run lint

feat: Update heading component
  src/components/atoms/heading/__snapshots__/heading.test.tsx.snap
  src/components/atoms/heading/heading.stories.tsx
  src/components/atoms/heading/heading.test.tsx
  src/components/atoms/heading/index.tsx
  src/components/atoms/heading/type/model.ts
Due: npm run lint

chore: Update snapshot
  src/components/organisms/about-section/__snapshots__/about-section.test.tsx.snap
  src/components/organisms/contact-section/__snapshots__/contact-section.test.tsx.snap
  src/components/organisms/festa-section/__snapshots__/festa-section.test.tsx.snap
  src/components/organisms/map-section/__snapshots__/map-section.test.tsx.snap
  src/components/organisms/sns-section/__snapshots__/sns-section.test.tsx.snap
  src/components/organisms/sponsor-section/__snapshots__/sponsor-section.test.tsx.snap
  src/styles/global.tsx
Due: npm run lint

fix: Fix lock file
  yarn.lock
Due: none

chore: Update heading component
  src/components/atoms/heading/__snapshots__/heading.test.tsx.snap
  src/components/atoms/heading/index.tsx
  src/components/organisms/about-section/__snapshots__/about-section.test.tsx.snap
  src/components/organisms/contact-section/__snapshots__/contact-section.test.tsx.snap
  src/components/organisms/festa-section/__snapshots__/festa-section.test.tsx.snap
  src/components/organisms/map-section/__snapshots__/map-section.test.tsx.snap
  src/components/organisms/sns-section/__snapshots__/sns-section.test.tsx.snap
  src/components/organisms/sponsor-section/__snapshots__/sponsor-section.test.tsx.snap
Due: npm run lint

feat: Update heading component (#225)
  .eslintrc.yml
  .storybook/preview.jsx
  package.json
  src/app.tsx
  src/components/atoms/heading/__snapshots__/heading.test.tsx.snap
  src/components/atoms/heading/heading.stories.tsx
  src/components/atoms/heading/heading.test.tsx
  src/components/atoms/heading/index.tsx
  src/components/atoms/heading/type/model.ts
  src/components/organisms/about-section/__snapshots__/about-section.test.tsx.snap
  src/components/organisms/contact-section/__snapshots__/contact-section.test.tsx.snap
  src/components/organisms/festa-section/__snapshots__/festa-section.test.tsx.snap
  src/components/organisms/map-section/__snapshots__/map-section.test.tsx.snap
  src/components/organisms/sns-section/__snapshots__/sns-section.test.tsx.snap
  src/components/organisms/sponsor-section/__snapshots__/sponsor-section.test.tsx.snap
  src/styles/global.tsx
  yarn.lock
Due: npm run lint, npm run fmt

feat: Move button model to near the button component file
  src/components/atoms/button/type/model.ts
  src/models/button.ts
  src/models/index.ts
Due: npm run lint

chore: Format code
  src/components/atoms/button/index.tsx
  src/components/atoms/button/type/model.ts
Due: npm run lint

feat: Remove calc in style
  src/components/atoms/anchor-text/anchor-text.stories.tsx
  src/components/atoms/anchor-text/index.tsx
  src/components/atoms/text/index.tsx
  src/components/atoms/text/text.stories.tsx
Due: npm run lint

chore: Update text, anchore-text, button component
  src/components/atoms/anchor-text/__snapshots__/anchor-text.test.tsx.snap
  src/components/atoms/anchor-text/index.tsx
  src/components/atoms/button/__snapshots__/button.test.tsx.snap
  src/components/atoms/button/index.tsx
  src/components/atoms/text/__snapshots__/text.test.tsx.snap
  src/components/atoms/text/index.tsx
  src/components/molecules/twitter/__snapshots__/twitter.test.tsx.snap
  src/components/organisms/about-section/__snapshots__/about-section.test.tsx.snap
  src/components/organisms/contact-section/__snapshots__/contact-section.test.tsx.snap
  src/components/organisms/festa-section/__snapshots__/festa-section.test.tsx.snap
  src/components/organisms/footer/__snapshots__/footer.test.tsx.snap
  src/components/organisms/hero-section/__snapshots__/hero-section.test.tsx.snap
  src/components/organisms/map-section/__snapshots__/map-section.test.tsx.snap
  src/components/organisms/sponsor-section/__snapshots__/sponsor-section.test.tsx.snap
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
Due: npm run lint

feat: Remove calc in style (#228)
  src/components/atoms/anchor-text/__snapshots__/anchor-text.test.tsx.snap
  src/components/atoms/anchor-text/anchor-text.stories.tsx
  src/components/atoms/anchor-text/index.tsx
  src/components/atoms/button/__snapshots__/button.test.tsx.snap
  src/components/atoms/button/index.tsx
  src/components/atoms/button/type/model.ts
  src/components/atoms/text/__snapshots__/text.test.tsx.snap
  src/components/atoms/text/index.tsx
  src/components/atoms/text/text.stories.tsx
  src/components/molecules/twitter/__snapshots__/twitter.test.tsx.snap
  src/components/organisms/about-section/__snapshots__/about-section.test.tsx.snap
  src/components/organisms/contact-section/__snapshots__/contact-section.test.tsx.snap
  src/components/organisms/festa-section/__snapshots__/festa-section.test.tsx.snap
  src/components/organisms/footer/__snapshots__/footer.test.tsx.snap
  src/components/organisms/hero-section/__snapshots__/hero-section.test.tsx.snap
  src/components/organisms/map-section/__snapshots__/map-section.test.tsx.snap
  src/components/organisms/sponsor-section/__snapshots__/sponsor-section.test.tsx.snap
  src/components/templates/layout/__snapshots__/layout.test.tsx.snap
  src/models/index.ts
Due: npm run lint

[figma] add reaction token
  data/tokens.json
Due: npm run fmt

feat: design tokenから_variable.jsonの生成
  src/styles/_variables.json
Due: npm run fmt

[figma] add twitter token
  data/tokens.json
Due: npm run fmt

[figma] add reaction token (#231)
  data/tokens.json
  src/styles/_variables.json
Due: npm run fmt

fix!: Fix workflow's checkout ref to workflow_run's head sha
  .github/workflows/chromatic.yml
  .github/workflows/prettier.yml
Due: npm run fmt

doc: Update README
  README.md
Due: none

feat: Fix button component
  src/components/atoms/button/index.tsx
  src/components/atoms/button/type/model.ts
Due: npm run lint

ci: Update GitHub Actions
  .github/workflows/chromatic-test.yml
  .github/workflows/test.yml
Due: npm run fmt

chore: Update properties
  src/components/atoms/button/__snapshots__/button.test.tsx.snap
  src/components/atoms/button/button.stories.tsx
  src/components/atoms/button/button.test.tsx
  src/components/atoms/heading/__snapshots__/heading.test.tsx.snap
  src/components/atoms/heading/heading.stories.tsx
  src/components/atoms/heading/heading.test.tsx
  src/components/atoms/heading/index.tsx
  src/components/atoms/heading/type/model.ts
  src/styles/type/model.ts
Due: npm run lint

chore: Update snap shot
  src/components/organisms/about-section/__snapshots__/about-section.test.tsx.snap
  src/components/organisms/contact-section/__snapshots__/contact-section.test.tsx.snap
  src/components/organisms/festa-section/__snapshots__/festa-section.test.tsx.snap
  src/components/organisms/map-section/__snapshots__/map-section.test.tsx.snap
  src/components/organisms/sns-section/__snapshots__/sns-section.test.tsx.snap
  src/components/organisms/sponsor-section/__snapshots__/sponsor-section.test.tsx.snap
Due: none

chore: Remove twitter and instagram variant from ColorVariant
  src/components/atoms/button/button.stories.tsx
  src/components/atoms/button/index.tsx
  src/components/atoms/heading/type/model.ts
  src/styles/type/model.ts
Due: npm run lint

chore: Format codes
  data/tokens.json
  src/app.tsx
  src/styles/_variables.json
Due: npm run lint, npm run fmt

ci: Fix codeql ci
  .github/workflows/codeql.yml
Due: npm run fmt

chore: Add random props for ci
  src/components/organisms/about-section/__snapshots__/about-section.test.tsx.snap
  src/components/organisms/about-section/index.tsx
  src/components/organisms/contact-section/__snapshots__/contact-section.test.tsx.snap
  src/components/organisms/contact-section/index.tsx
  src/components/organisms/festa-section/__snapshots__/festa-section.test.tsx.snap
  src/components/organisms/festa-section/index.tsx
  src/components/organisms/map-section/__snapshots__/map-section.test.tsx.snap
  src/components/organisms/map-section/index.tsx
  src/components/organisms/sns-section/__snapshots__/sns-section.test.tsx.snap
  src/components/organisms/sns-section/index.tsx
  src/components/organisms/sponsor-section/__snapshots__/sponsor-section.test.tsx.snap
  src/components/organisms/sponsor-section/index.tsx
Due: npm run lint

feat: Fix button component (#236)
  .github/workflows/chromatic-test.yml
  .github/workflows/codeql.yml
  .github/workflows/test.yml
  README.md
  data/tokens.json
  src/app.tsx
  src/components/atoms/button/__snapshots__/button.test.tsx.snap
  src/components/atoms/button/button.stories.tsx
  src/components/atoms/button/button.test.tsx
  src/components/atoms/button/index.tsx
  src/components/atoms/button/type/model.ts
  src/components/atoms/heading/__snapshots__/heading.test.tsx.snap
  src/components/atoms/heading/heading.stories.tsx
  src/components/atoms/heading/heading.test.tsx
  src/components/atoms/heading/index.tsx
  src/components/atoms/heading/type/model.ts
  src/components/organisms/about-section/__snapshots__/about-section.test.tsx.snap
  src/components/organisms/about-section/index.tsx
  src/components/organisms/contact-section/__snapshots__/contact-section.test.tsx.snap
  src/components/organisms/contact-section/index.tsx
  src/components/organisms/festa-section/__snapshots__/festa-section.test.tsx.snap
  src/components/organisms/festa-section/index.tsx
  src/components/organisms/map-section/__snapshots__/map-section.test.tsx.snap
  src/components/organisms/map-section/index.tsx
  src/components/organisms/sns-section/__snapshots__/sns-section.test.tsx.snap
  src/components/organisms/sns-section/index.tsx
  src/components/organisms/sponsor-section/__snapshots__/sponsor-section.test.tsx.snap
  src/components/organisms/sponsor-section/index.tsx
  src/styles/_variables.json
  src/styles/type/model.ts
  yarn.lock
Due: npm run lint, npm run fmt

feat: Create sub heading component
  src/components/atoms/sub-heading/__snapshots__/sub-heading.test.tsx.snap
  src/components/atoms/sub-heading/index.tsx
  src/components/atoms/sub-heading/sub-heading.stories.tsx
  src/components/atoms/sub-heading/sub-heading.test.tsx
Due: npm run lint

chore: コードを整形
  src/components/atoms/sub-heading/index.tsx
  src/components/atoms/sub-heading/sub-heading.stories.tsx
Due: npm run lint
